<div class="row">
	
	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>
	
	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">CEU Certificates</li>
		</ul>
		
		<form class="form-search" method="get" action="/admin/users">
			<div class="input-append">
			<input type="text" class="input-xlarge search-query" name="search" value="<%= params[:search] %>" />
			<button type="submit" style="border: 1px solid green;" class="btn btn-success ">Search</button>
		</div>
		</form>

		<table class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Certificate</th>
					<th>Date</th>
				</tr>
			</thead>
			
			
			
			
		</table>
	</div>
	
</div>

