<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Issues</li>
		</ul>
		
		<div class="page-header">
			<h2>Issues</h2>
		</div>
		<div>
			<p>Issues editor uses Markdown for formatting. See <a href="/admin/markdown">Markdown Guidelines</a> for syntax.</p>
		<div>
			<table class="table table-striped">
				<tr>
					<th>
						Issue
					</th>
					<th>
						Solution
					</th>
				</tr>
				<tr>
					<td>
						<strong>Sign-in</strong> - upon submit reverts to empty form<br /><small>(Applies to all browsers)</small>
					</td>
					<td>
						Enable cookies in browser and try again. <br /><br /><strong>Note:</strong> We only use cookies to keep user signed-in until session ends.
					</td>
				</tr>
				<tr>
					<td>
						<strong>New passowrd</strong> does not work
					</td>
					<td>
						User did not 'Update' profile after entering new password.
					</td>
				</tr>
				<tr>
					<td>
						<strong>Scores</strong> are incorrect
					</td>
					<td>
						Some scoring on Scenario questions have been updated. Retake the Scenario to get correct score.
					</td>
				</tr>
			</table>
		</div>
		
	</div>

</div>