<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Issues</li>
		</ul>
		
		<div class="page-header">
			<h2>Issues</h2>
		</div>
		<div>
			
		<div>
			<table class="table table-striped">
				<tr>
					<th>
						Issue
					</th>
					<th>
						Solution
					</th>
				</tr>
				<tr>
					<td>
						<strong>Sign-in</strong> - upon submit reverts to empty form
					</td>
					<td>
						Enable cookies in browser and try again
					</td>
				</tr>

			</table>
		</div>
		
	</div>

</div>