<div class="row">

	<div class="span3">
		<%= view 'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Scenarios</li>
		</ul>

		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @scenarios.each do |scenario| %>
				<tr>
					<td><%= scenario.id %></td>
					<td><%= scenario.title %></td>
					<td style="text-align: right;"><a href="/admin/scenarios/<%= scenario.id %>">Edit</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>

</div>