<div class="row">

	<div class="span3">
		<%= erb :'admin/navigation', layout: false %>
	</div>

	<div class="span9">
		<ul class="breadcrumb">
			<li>Admin <span class="divider">/</span></li>
			<li class="active">Stats</li>
		</ul>
		
		<div class="page-header">
			<h2>Stats</h2>
		</div>
		
		<table class="table">
			<% @stats.each do |stat| %>
			<tr>
				<td><%= stat.name %></td>
				<td><%= stat.content %></td>
			</tr>
			<% end %>
		</table>
		
	</div>

</div>