<fieldset id="account">
	
	<legend>
		<span style="padding: 0 9px 0 7px;">2</span>
		<% if locals[:user] %>
			You're already signed in
		<% else %>
			Create an account
		<% end %>
	</legend>
	
	<div class="control-group">
		<label class="control-label" for="first_name">First Name</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="first_name" name="first_name" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="last_name">Last Name</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="last_name" name="last_name" />
		</div>
	</div>
	<div class="control-group" id="email-group">
		<label class="control-label" for="email">Email address</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="email" name="email" <%= "value='#{locals[:user].email}' disabled" if user %> />
			<span class="help-inline" style="display: none;">
				That address is already being used.
				<br />
				<a href="/sign-in">Maybe you need to sign in instead...</a>
			</span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Password</label>
		<div class="controls">
			<input type="password" class="input-xlarge" id="password" name="password" <%= "value='secret123' disabled" if user %> />
		</div>
	</div>
	
	<% if locals[:user] %>
		<input type="hidden" name="user_id" id="user_id" value="<%= locals[:user].id %>" />
	<% end %>
	
</fieldset>