<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> Account Extension</legend>
	
	<div class="row">		
		<div class="span11 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="account-expiration" value="Account Expiration" data-price='65' checked="checked" /> &nbsp;90 Day Account Extension <strong>$65</strong>

					<p>After completing purchase you will find your new expiration date on your profile page.</p>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
</fieldset>