<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> Package <small>Choose one</small></legend>
	
	<div class="row">		
		<div class="span5 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="single-scenario" value="Single Scenario" data-price='20' <%= 'checked="checked"' if params[:package] == 'Single Scenario' %> /> &nbsp;<span style="font-size: 1.3em;" class="oswald">Single Scenario $20</span>
					<ul class="package-features">
						<li><strong>1 Online Scenario</strong></li>
						<li>Receive unlimited access to online exams for 30 days</li>
					</ul>
					
				</label>
			</p>
				
		</div>	<!-- span5 -->				
		
		<div class="span5 content">
			<div class="control-group" style="margin-top: 2.5em;">
				<label class="control-label" for="license"><strong>License</strong> <small>(Reqired for Continuing Education Units)</small></label>
				<div class="controls">
					<input type="text" class="input-xlarge focus" id="license" name="license" <%= "value='#{locals[:user].license}' disabled" if user.license %> autofocus required/>
				</div>
			</div>
			
		</div>   <!-- span5 -->
			<div class="span9">
			<p style="color: #bc272e;"><small><strong>NOTE: Purchasing CEU scenarios will make all other purchased NCMHCE and NCE exams unavailable for further use.</strong></small></p>
		</div>
	</div>	   <!-- row -->

	
</fieldset>