<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> NCE Online Exams</legend>
	
	<div class="row">		
		<div class="span11 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="starter-package" value="starter-package" /> &nbsp;Two additional NCE Online Exams <strong>$60</strong>

					<p>Online exams will be available from your profile page after purchase.</p>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
	</div>	<!-- row -->
	
</fieldset>