<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">		
		<div class="span11 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="nce-hard-copy" value="NCE Hard Copy" data-price='12.95' checked="checked" /> &nbsp;Dr. Arthur's NCE Study Guide Hard Copy <strong>$12.95 shipping</strong>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
</fieldset>