<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> NCMHCE Online Scenarios</legend>
	
	<div class="row">		
		<div class="span11 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="ncmhce-upgrade" value="NCMHCE Upgrade" data-price='80' checked="checked" /> &nbsp;Twelve additional NCMHCE Online Scenarios <strong>$80</strong>
					<p>Online scenarios will be available from your profile page after purchase.</p>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
	</div>	<!-- row -->
	
</fieldset>
