<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> Package</legend>
	
	<div class="row">		
		<div class="span11 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="ncmhce-hard-copy" value="NCMHCE Hard Copy" data-price='12.95' checked="checked" /> &nbsp;NCMHCE Study Supplement Hard Copy <strong>$12.95 shipping</strong> &nbsp; <small>Same study supplement as the eBook and updated for DSM-5&trade;</small>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
</fieldset>