<fieldset>
	<legend><span style="padding: 0 9px 0 7px;">1</span> Package <small>Choose one</small></legend>
	
	<div class="row">		
		<div class="span5 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="starter-package" value="Starter Package" data-price='80' <%= 'checked="checked"' if params[:package] == 'Starter Package' %> /> &nbsp;Starter Package <strong>$80</strong>
					<ul class="package-features">
						<li><strong>12 Online Scenarios</strong></li>
						<li>Study Supplement eBook (updated for DSM-5&trade;)</li>
						<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
						<li>Pass Guarantee</li>
						<li>Receive unlimited access to online exams for one full year</li>
					</ul>
					<p><small>(Additional online scenarios can be purchased later in sets of 12 for $80.)</small></p>
				</label>
			</p>
				
		</div>	<!-- span5 -->				
	
		<div class="span5 content">
				
			<p style="margin-top: 2.5em;">
				<label class="radio package-name">
					<input name="package" type="radio" id="full-package" value="Full Package" data-price='190' <%= 'checked="checked"' if params[:package] == 'Full Package' %> /> &nbsp;Full Package <strong>$190</strong>
					 &nbsp; <span class="badge badge-important">Save $50!</span>
					<ul class="package-features">
						<li><strong>All 36 Online Scenarios</strong></li>
						<li>Study Supplement eBook (updated for DSM-5&trade;)</li>
						<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
						<li>Pass Guarantee</li>
						<li>Receive unlimited access to online exams for one full year</li>
					</ul>
				</label>
			</p>			
		</div>	<!-- span5 -->
	</div>	<!-- row -->
	<hr style="margin: 9px 0" />
	<h3 class="option-header">Optional Enhancements <small>for either package &nbsp;&nbsp;(Must purchase Starter or Full Package to buy Optional Hard Copy)</small></h3>
	
		<p style="margin: 9px 0;">
			<label class="checkbox">
				<input type="checkbox" name="optional" value="Hard Copy" id="ncmhce-hard-copy" data-price='12.95' <%= 'checked="checked"' if params[:optional] %> /> Study Supplement <span class="badge badge-success">Hard Copy</span> <strong>$12.95 shipping</strong> &nbsp; <small>Same study supplement as the eBook and updated for DSM-5&trade;</small>
				<br />
				<small style="color: black;"><strong>Note:</strong> If you require shipment to a PO Box please call toll free 888-326-9229 for details.</small>
												
			</label>
		</p>	
	
</fieldset>