<div class="row">
	<div class="span12">
		<h1>
			NCMHCE Flash Cards
		</h1>	
	</div>
</div>

<hr />

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2">
				<a href="/cards/random" class="btn btn-primary">Next Card</a>
				<br /><br />
			</div>
			<div class="span8">
		  	<div class="flashcard">
			  	<center><h2><%= @card.term %></h2></center>
			  	<hr style="margin: 0;" />
			  	<p><%= markdown @card.definition %></p>
			  </div>
			</div>
		</div>
	</div>
</div>
