<div class="row">
	<div class="span12">
		<div class="page-header visible-desktop">
			<h1 class="oswald" style="font-size: 2.7em; margin: 0 0 0.5em 0;">Questions & Comments
			<small>We'd love to hear what you have to say</small></h1>
		</div>
		
	</div>
</div>


		<form id="recaptcha-demo-form" method="POST">
		<fieldset>
			<legend>Sample Form with ReCAPTCHA</legend>
			<ul>
				<li>
					<label for="input1">First Name</label>
					<input class="" id="input1" name="input1" type="text" disabled aria-disabled="true">
				</li>
				
				<li>
					<label for="input3">Email</label>
					<input class="" id="input3" name="input3" type="text" disabled aria-disabled="true">
				</li>
				
				<li>
					<div class="recaptcha-error"><!-- BEGIN: ReCAPTCHA implementation example. -->
						<div id="recaptcha-demo" class="g-recaptcha" data-sitekey="6Lck-n4UAAAAAIb_PAKYTx-f4Nv5WhPvRKGc9dD2" data-callback="onSuccess">
							
						</div>
						
						<script>
                      var onSuccess = function(response) {
                        var errorDivs = document.getElementsByClassName("recaptcha-error");
                        if (errorDivs.length) {
                          errorDivs[0].className = "";
                        }
                        var errorMsgs = document.getElementsByClassName("recaptcha-error-message");
                        if (errorMsgs.length) {
                          errorMsgs[0].parentNode.removeChild(errorMsgs[0]);
                        }
                       };
							</script>
								
								<!-- Optional noscript fallback. -->
								<noscript>
									<div style="width: 302px; height: 462px;">
										<iframe src="/recaptcha/api/fallback?k=6Lck-n4UAAAAAIb_PAKYTx-f4Nv5WhPvRKGc9dD2" frameborder="0" scrolling="no">
											
										</iframe>
										
										<div>
											<textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"></textarea>
										</div>
									</div>
									<br>
								</noscript>
								
								<!-- END: ReCAPTCHA implementation example. -->
								
								<div class="recaptcha-error-message">Please verify that you are not a robot.</div>
							</div>
						</li>
						<li>
							<input id="recaptcha-demo-submit" type="submit" value="Submit"/>
						</li>
					</ul>
				</fieldset>
			
			</form>
		</div>
		
		
		

<!-- <form class="form-horizontal" method="post">

	<div class="control-group" id="name-group">
		<label class="control-label" for="name">Names</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="name" name="name" />
		</div>
	</div>

	<div class="control-group" id="email-group">
		<label class="control-label" for="email">Email address</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="email" name="email" />
		</div>
	</div>

	<div class="control-group" id="subject-group">
		<label class="control-label" for="subject">Subject</label>
		<div class="controls">
			<select id="subject" name="subject">
				<option value="Counselor Exams feedback: I have a question">I have a question</option>
				<!-- <option value="Counselor Exams feedback: Help, I'm stuck!">Help, I'm stuck!</option> -->
				<!-- <option value="Counselor Exams feedback: I have a comment">I have a comment</option>
				<option value="Counselor Exams feedback: Testimonial">Testimonial</option>
			</select>
		</div>
	</div>

	<div class="control-group" id="msg-group">
		<label class="control-label" for="msg">Message</label>
		<div class="controls">
			<textarea name="msg" id="msg" class="input-xlarge span6" rows="11"></textarea>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<div class="g-recaptcha" data-sitekey="6Lck-n4UAAAAAIb_PAKYTx-f4Nv5WhPvRKGc9dD2"></div>
			<br />

			<input type="submit" class="btn btn-primary" value="Send" />

		</div>
	</div>

</form> --> -->

