<div id="#top"> </div>
	
<div class="row">
	<div class="span12">
		<p class="all-header">Arthur Study Programs</p>
		<p class="product-header nce-color">National Counselor Examination</p>
	</div>
</div>
<div class="row">
	<div class="span8 center">
		<a href="#product"><img src="/img/nce-group-new.png" /></a>
	</div>
	<div class="span4">
		<div class="well">
			<center><a href="#product"><img src="/img/nce-badge.png" width="60%;" style="padding: 0em" /></a></center>
			<a class="btn btn-primary btn-large btn-block" href="#pricing" style="font-weight: bold; margin: 18px 0 12px 0;">Pricing</a>
			<a class="btn btn-success btn-large btn-block" href="/checkout/nce?package=Enhanced%20Package" style="font-weight: bold;">BUY NOW!</a>
			<p><center><small>For shipping outside the continental US, <br />order by phone +1-888-326-9229.</small></center></p>
			<center><a href="#guarantee"><img src="/img/pass_icon-left.png" width="30%;" /></a></center>
		</div>
	</div>	
	<div class="span12 center">
		<p style="font-size: 1.9em; font-weight: 300; margin: 0.5em 0 18px 0;">We are very proud that 94% of our customers passed their exam in 2014!<sup style="font-size: .6em;">1</sup></p>
		<p style="font-size: 1.5em; font-weight: 300; margin: 0 0 28px 0;">Our NCE study material has been updated for the DSM-5&trade;.</p>
		<p style="font-size: 1.5em; font-weight: 600;">Free Sample eBook - download it now!<br />
			<a href="/downloads/Sample%20NCE%20Study%20Guide.pdf" class="btn btn-primary btn" target="_blank" style="margin-top: 1em;">Sample eBook</a>
		</p>
		
	</div>
</div>

<!-- ======================= Product Info ======================= -->

<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#product" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="oswald" style="font-size: 2.7em;">Dr. Arthur's NCE Study Program</h1>
	</div>
	<div class="row">
		<div class="span5">
			<img src="/img/nce-guide-sm.png" width="90%" />
			<h3>eBook Option</h3>
			<p>The Study Guide is available in either a hard copy format or in an <a href="/how-it-works/about-ebooks">eBook</a> compatible with standard eReaders, including the iPad or Kindle. Note that the hard copy does require a shipping and handling fee. Testimonials on the eBook are overwhelmingly positive.</p>
			
		</div>
		<div class="span7">
			<p style="font-weight: 300; font-size: 1.5em; line-height: 1.4em;">This is the comprehensive study guide that has been instrumental in helping thousands of counselors pass the National Counselor Examination (NCE) used for state licensure. 
			</p>	
			<p>It will help you assess your weaknesses and strengthen what you know. <strong>Dr. Arthur&#39;s Study Guide</strong> is available in either a hard copy or eBook format, and covers all 8 CACREP content areas. The package also includes a Pre-Assessment Exam and one Practice Exam that are both online, each with 200 questions and detailed answers that give insight into the style and format of the NCE's questions. Our Enhanced Package includes two additional online exams (each 200 questions) which provides ample opportunity to gain confidence in your knowledge base.</p>
			<br />
			<blockquote>
				<p>&ldquo;This is awesome! I don't need to carry around the binder version and I can easily access the eBook while I'm relaxing in bed doing night time reading. Thank you!&rdquo;
				</p>
				<small>J. Cho</small>
			</blockquote>
		</div>
	</div>  
	<div class="row">	
		<div class="span6 features"> 
			<img src="img/check.png" class="check" /><h2>Study Guide</h2>
			<p>The heart of the program is <strong>Dr. Arthur&#39;s Study Guide for the NCE</strong>, which is a user-friendly publication designed to prepare you for the exam. The Study Guide has been updated for the DSM-5&trade;.</p>
			<img src="img/check.png" class="check" /><h2>Covers All 8 CACREP Areas</h2>	
			<p>The Study Guide is organized according to the 8 CACREP areas: Professional Orientation; Research and Program Evaluation; Appraisal; Lifestyle and Career Development; Helping Relationships; Group Counseling; Human Growth and Development; Social and Cultural Foundations. Example questions reflect those objectives. This is significant because the NCE is developed from CACREP programs.</p>
			<img src="img/check.png" class="check" /><h2>Online Exams</h2>
			<p>Up to four online exams available, each with 200 questions and detailed answers. One of the online exams is a pre-assessment exam, which helps you prioritize your studying based on your results in each of the 8 CACREP areas. Our Basic Package also includes one practice exam, or purchase the Enhanced Package to access a total of three practice exams.</p>
		</div>
		<div class="span6 features">
			<img src="img/check.png" class="check" /><h2>Learn at your own pace</h2>
			<p>The online exams may be taken multiple times for up to a full year, allowing you to study at the pace that is best for you.</p>
			<img src="img/check.png" class="check" /><h2>Consultation</h2>
			<p>As part of either purchased package, you can schedule a personal consultation with Dr. Gary Arthur for up to 30 minutes.</p>
			<img src="img/check.png" class="check" /><h2>Pass Guarantee</h2>
			<p>Pass the NCE or the purchase price will be refunded to you. See <a href="#guarantee">guarantee policies</a> for details.</p>
			<img src="img/check.png" class="check" /><h2>eBook Option</h2>
			<p>The Study Guide is available in either a hard copy or in an eBook format. Testimonials on the eBook are overwhelmingly positive. The Study Guide has been updated for the DSM-5&trade;.</p>
			<img src="img/check.png" class="check" /><h2>Success</h2>
			<p>Dr. Arthur's NCE Study Program boasts a 94% pass rate versus the national average of 72%. </p>
		</div>
	</div>
</div>		

<!-- ======================= Pricing ======================= -->

<div class="row">
	<div class="span12 center">
		<div class="section-div" id="pricing" style="clear: left;">
			<a href="#pricing" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="oswald" style="font-size: 2.7em;">Pricing</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<div class="save-white">
			&nbsp;
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; font-size: 1.3em;">BASIC PACKAGE</P>
			<h1 class="oswald" style="color: white;font-size: 4.5em; font-weight: 400;">$189</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>Study Guide eBook</strong><br />(updated for DSM-5&trade;)</li>
				<li>Online Pre-assessment Exam</li>
				<li><strong>1 online Practice Exam*</strong></li>
				<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online exams for one full year</li>
				<li><a class="btn btn-success btn-large" href="/checkout/nce?package=Basic%20Package" style="font-weight: bold; margin-bottom: -9px; width: 90%;">BUY NOW!</a></li>
			</ul>
			</div>
		</div>
		<div class="span4">
			<div class="save-red" style="font-weight: 700;">
				Save $20
			</div>
			<div class="price-ground">
				<p style="letter-spacing: 3px; font-size: 1.3em;">ENHANCED PACKAGE</p>
			<h1 class="oswald" style="color: white;font-size: 4.5em; font-weight: 400;">$229</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>Study Guide eBook</strong><br />(updated for DSM-5&trade;)</li>
				<li>Online Pre-assessment Exam</li>
				<li><strong>3 online Practice Exams</strong></li>
				<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online exams for one full year</li>
				<li><a class="btn btn-success btn-large" href="/checkout/nce?package=Enhanced%20Package" style="font-weight: bold; margin-bottom: -9px; width: 90%;">BUY NOW!</a></li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="save-white">
			&nbsp;
		</div>
		<div class="well well-small" style="padding: 0;">
			<center><img src="/img/nce-badge.png" width="60%" style="padding: 2em 0 0.6em 0;" /></center>
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/comodo_secure_113x59.png" /></center>				
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.4em;">888-326-9229</span></p>
			<p>Our business hours are <br />Monday - Friday, 9:00 AM - 5:00 PM EST.</p><br /></center>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div style="margin: 14px 0 12px 0; padding: 16px 0">
			<img src="/img/nce-binder-small.png" width="100px" style="margin: -22px 2px 9px 18px; padding-right: 24px;" class="pull-left" />
			<h2 class="oswald">Add the Study Guide Hard Copy for only $13.95 shipping.**</h2>
			<p><em>It's the same as the eBook and updated for the DSM-5&trade;.</em></p>
		</div>
		<hr style="clear: left;" />
		<p><small>* Two additional practice exams can be purchased later for $60. <br />** Must purchase Basic or Enhanced Package to buy Optional Hard Copy for $13.95. See Optional Enhancements on Checkout page. <br />If you require we ship to a PO Box please call toll free 888-326-9229 for details. </small></p>
		</div>
</div>

<!-- ======================= Guarantee ======================= -->

<div class="section-div hidden-phone" id="guarantee" style="clear: left; padding-top: 14px;"><a href="#guarantee" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></a></div>

<div class="page-header">
	<img src="/img/pass_icon.png" width="124px" style="float: right; margin-top: -14px;" />
	<h1 class="oswald" style="font-size: 2.7em;">Satisfaction Guarantee + Money Back Pass Guarantee</h1>
</div>

<p class="lead">Pass the NCE or the cost of the guide is refunded back to you</p>

			<p>The customer has 3 days upon delivery of the Study Guide to review the material to confirm that it is what he or she expected. If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide.</p>
			

		<div class="row">
			<div class="span6 guarantee">
				<h3>Satisfaction Guarantee Policy Terms</h3>
				<p>
					The customer has 3 days from the purchase date to review the purchased <em>online services</em>, including online exams and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCE  Study Guide, he or she has <em>3 days from the date of delivery of the Study Guide</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Study Guide, if applicable. Further, to qualify for a refund, the customer <em>may not have completed any online exam; they are allowed access for review only</em> if they wish to request a Satisfaction Guarantee refund. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Study Guide be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
				</p>
			</div>
			<div class="span6 guarantee">
				<h3>Money Back Pass Guarantee Policy Terms</h3>
				<p>CTC offers a money back pass guarantee for the Dr. Arthur&#39;s Study Guide. Pass the NCE, or CTC will refund your money for the cost of the Study Guide (excludes shipping and any sales tax).</p>
				<ul>
					<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
					<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCE Study Guide must be returned. Note: The return expense is the responsibility of the customer.</li>
					<li>Once CTC receives the exam scores (and Study Guide if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
				</ul>
			</div>
			<div class="span12">
				<p>For questions about the above policies, or any aspect of the Study Guide, please call toll free 888-326-9229.</p>
			</div>
		</div>

<!-- ======================= About Author ======================= -->

<div class="section-div hidden-phone" id="authors" style="clear: left; padding-top: 14px;"><a href="#authors" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></i></a></div>

<div class="page-header">
	<h1 class="oswald" style="font-size: 2.7em;">Dr. Arthur&#39;s expertise</h1>
</div>
	
<div class="row">
	<div class="span12">

		<p>
		<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin: .2em 1.5em .5em 0;" />
		<strong>Dr. Gary Arthur</strong>, Ed.D., LPC, NCC, CPCS, Professor Emeritus of Professional Counseling at Georgia State University, is personally available to answer any questions you may have about the study guide or the exam (up to 30 minutes). He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and wrote this study guide for the specific purpose of preparing you for the NCE licensure exam.
		<br />
		<a href="http://www.arthurnceworkshop.com/" class="btn btn-small btn-primary" style="margin-top: 9px;" target="_blank">Dr. Arthur's Workshops</a>
		</p>
	</div>
</div>


<!-- ======================= testimonials ======================= -->

<div class="section-div" id="testimonials" style="clear: left; padding-top: 14px;"><a href="#testimonials" style="padding: 12px 60px;"><img src="/img/page-pointer.png" /></i></a></div>

<div class="page-header">
	<h1 class="oswald" style="font-size: 2.7em;">Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
		
		<blockquote>
			<p>
				&ldquo;I am very happy to share that I passed the NCE. Not only did I pass it on my first attempt, but I scored 124 when I only needed 91 to pass! Utilizing the study guide along with the 3 practice exams helped build my confidence. The study guide was easy to follow and allowed me to focus on one concept at a time. I am very grateful for CounselorExams.com's study materials; it was well worth the investment!&rdquo;
			</p>
			<small>C. Oliver</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Gary Arthur's Study Guide is the single most powerful tool anyone can use to prepare for the NCE. The material is extremely well organized and accessible, the text is highly readable, and the information is precisely focused on what you need to know.  Gary's study guide helped me develop a successful test-taking strategy and gave me a clear approach for studying for the exam. The practice examinations gave me an effective chance to test my knowledge. I recommend this study guide to all the students and associate clinicians I supervise.&rdquo;
			</p>
			<small>Don Durkee, Ed.S., LPC, NCC</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I could not have passed the NCE without Dr. Arthur’s workshop, course materials, and practice tests. They were invaluable to me as they help me to make a 126! I would highly recommend anyone preparing for the exam.&rdquo;
			</p>
			<small>J. Sullivan</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Hi Dr. Arthur! Just want to share with you that I passed the NCE and I believe your prep materials had everything to do with it. The Study Guide was a great re-cap of the Master's of Science classes.&rdquo;
			</p>
			<small>Maria Miller</small>
		</blockquote>
	</div>
	<div class="span6">
		<blockquote>
			<p>
				&ldquo;I am delighted to report that I PASSED my National Counselor Exam by using Dr. Arthur's NCE Study Guide. The Study Guide was comprehensive, well written and easy to understand... and covered all CACREP essentials. The exams after each chapter were also very helpful... the online pre-assessment and practice exams were invaluable!  Dr. Arthur's NCE Study Guide is a must have for anyone preparing for the NCE for licensing &amp; certification.&rdquo;
			</p>
			<small>Maggie G., Ed.M.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;The practice exams were instrumental in helping me prepare for taking the actual exam, and I passed it with confidence. I would recommend this to anyone who is preparing for the NCE.&rdquo;
			</p>
			<small>Maria Comsudes, MS, NCC</small>
		</blockquote>
		
		<blockquote>
			<p>
				&ldquo;Dear Gary, I couldn't have done it without you! Thanks to you and your Study Guide, I passed the examination with room to spare. Thanks again for everything!&rdquo;
			</p>
			<small>Irma Ross</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted you to know that I passed the NCE Exam last week. The study materials were a big help. I scored 134/160. The cutoff score was 91, so I was well-prepared for the exam.&rdquo;
			</p>
			<small>B. Orlowski</small>
		</blockquote>
		
	</div>
</div>
<div>
	<hr />
	<p class="pull-left"><small><sup>1</sup> Based on number of refunds requested due to failed exams.</small></p>
</div>
	<a href="#top" style="position: fixed; bottom:24px;right: 26px;"><img src="/img/top-pointer.png" /></a>

</div>

