</div>
<div class="row visible-desktop" style="margin-top: 0.2em;">
	<div class="center">
		<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; background-color: #c9252c;  padding-top: 14px; padding-bottom: 16px;">National Clinical Mental Health Counseling Examination</p>
	</div>
</div>

<!-- <div class="row visible-tablet" style="margin-top: -10px;">
	<div class="span12 center">
		<p class="all-header" style="font-size: 2em;">Arthur Study Programs</p>
		<p class="product-header blue-color" style="font-size: 2.2em;">National Clinical Mental Health Counseling Examination</p>
	</div>
</div>

<div class="row visible-phone">
	<div class="span12 center">
		<p class="all-header" style="font-size: 1.6em;">Arthur Study Programs</p>
		<p class="product-header blue-color" style="font-size: 2.1em;">National Clinical Mental Health Counseling Examination</p>
	</div>
</div> -->

<div class="container">

<div class="row">
	
	<!-- <div class="span8 center">
		<a href="#product"><img src="/img/ncmhce-group.png" width="90%" class="hidden-phone" /></a>
		<a href="#product"><img src="/img/ncmhce-group.png" width="100%" class="visible-phone" style="margin-top: -20px;" /></a>
	</div>
	<div class="span12 center visible-phone">
		<p style="font-size: 1.1em; line-height: 1.2em; font-weight: 300; margin: 0.5em 0 28px 0;">We are very proud that 96% of our customers passed their exam in 2015!<sup style="font-size: .6em;">1</sup></p>
	</div>
	<div class="span4">
		<div class="well hidden-phone">
			<center><a href="#product"><img src="/img/ncmhce-badge-solid.png" style="padding: 0em" /></a></center>
			<a class="btn btn-primary btn-large btn-block" href="#pricing" style="font-weight: bold; margin: 18px 0 12px 0;">Pricing</a>
			<a class="btn btn-success btn-large btn-block" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold;">BUY NOW!</a>
			<p><center><small>Order by phone +1-888-326-9229.</small></center></p>
			<center><a href="#guarantee"><img src="/img/pass_icon-left.png" width="30%;" /></a></center>
		</div>
		<div class="visible-phone">
			<center><a href="#product"><img src="/img/ncmhce-badge-solid.png" class="hidden-phone" style="padding: 0em" /></a></center>
			<a class="btn btn-primary btn-large btn-block hidden-phone" href="#pricing" style="font-weight: bold; margin: 18px 0 12px 0;">Pricing</a>
			<a class="btn btn-success btn-large btn-block" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold;">BUY NOW!</a>
			<p><center>Order by phone +1-888-326-9229.</center></p>
			<center><a href="#guarantee"><img src="/img/pass_icon-left.png" width="30%;" /></a></center>
		</div>
	</div> -->
	<!-- <div class="span12 center hidden-phone">
		<p style="font-size: 1.5em; line-height: 1.2em; font-weight: 300; margin-bottom: 0.1em; margin-top: 0.6em;">We are very proud that 96% of our customers passed their exam in 2015!<sup style="font-size: .6em;">1</sup></p>
	</div> -->
	
</div>

<!-- ======================= Product Info ======================= -->

<!-- <div class="row hidden-phone">
	<div class="span12 center section-div">
		<a href="#product"><img src="/img/page-pointer.svg" /></a>
	</div>
</div> -->

<!-- <div id="product">
	<p> <br /><br /></p>
</div> -->

<div class="row">	
	<div class="span12">
		
		
			<div class="pull-right" style="margin-top: 1em; margin-right: 4%;">
				<img src="/img/pass_icon.png" style="width: 100px;">
			</div>
		
		
		<div class="page-header">
			<h1 class="section-header">The Arthur-Brende NCMHCE Study Program</h1>
		</div>
	</div>
	
	<div class="span12hidden-phone">
		<p style="font-size: 1.4em; line-height: 1.2em; font-weight: 300; margin-bottom: 1.5em; margin-top: -0.5em;">We are very proud that 96% of our customers passed their exam in 2015!<sup style="font-size: .6em;">1</sup></p>
	</div>
	<div class="span5">
		<img src="/img/ncmhce-group.png" style="width: 96%;" />
	</div>
	<div class="span7">	
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.4em;">The <span style="font-weight: 600;">Arthur-Brende Scenario Simulator</span> includes 36 online scenarios that emulate the actual NCMHCE exam, measuring your information gathering and decision making abilities. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace.</p>
		<a href="/ncmhce/sample" class="btn btn-large btn-primary" style="margin: 10px 0 10px 0;">Try a Free Sample Scenario Now</a>
		<p style="font-weight: 300; font-size: 1.2em; line-height: 1.4em;">No registration required.</p>
	</div>
	<!-- <div class="span7">
		<img src="img/ncmhce-show/ncmhceprofile.png" width="100%" alt="">
		<p>On your Profile page you get access to to your scenarios, downloads, and account information.</p>
	</div> -->
</div>
<div class="row">
	<div class="span6 features">
		<img src="img/check.png" class="check" /><h2 class="oswald">Online Scenario Simulator</h2>
		<p>The Arthur-Brende Scenario Simulator includes 37 online scenarios that <strong>emulate the actual NCMHCE exam</strong>, measuring your information gathering and decision making abilities. You can purchase all 37 scenarios, or "pay as you go" in sets of 12. See <a href="#pricing">pricing</a> to get started.</p> 
		<img src="img/check.png" class="check" /><h2 class="oswald">Study Supplement</h2>
		<p>This overview of the actual NCMHCE with study and test taking strategies is included online with your Scenario Simulator purchase, and available as an eBook or PDF for immediate download - also available in hardcopy. The Study Supplement has been updated for the DSM-5&trade;. View a <a href="/downloads/Sample%20NCMHCE%20Supplement.pdf" target="_blank">Sample PDF</a>.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Pass Guarantee</h2>
		<p>Pass the NCMHCE or the purchase price will be refunded to you. See <a href="#guarantee">guarantee policies</a> for details.</p>
	</div>
	<div class="span6 features">
		<img src="img/check.png" class="check" /><h2 class="oswald">Learn at your own pace</h2>
		<p>Unlike many other NCMHCE scenario products, our scenarios may be taken <strong>multiple times</strong> for up to <strong>one full year</strong>. This allows you to study at the pace that works best for you.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Consultation</h2>
		<p>As part of any package purchased, you can schedule a consultation with Dr. Gary Arthur for up to 30 minutes.</p>
		<img src="img/check.png" class="check" /><h2 class="oswald">Feedback</h2>
		<p>Your scenario scoring is broken down into the separate categories of information gathering and decision making abilities, just like the actual NCMHCE. This helps you determine where to focus your exam preparation. You are also provided the average score of all other users for each specific scenario, so you can compare your scores to your peers.</p>
	</div>	
</div>

<!-- ======================= Pricing ======================= -->

<!-- <div class="row hidden-phone">
	<div class="span12 center section-div">
		<a href="#pricing"><img src="/img/page-pointer.svg" /></a>
	</div>
</div> -->

<div id="pricing">
	<p> <br /><br /></p>
</div>

<div class="row">	
	<div class="span12">	
		<div class="page-header">
			<h1 class="section-header">Pricing</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="span5">
		<div class="save-white hidden-phone">
			&nbsp;
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; font-size: 1.3em;">STARTER PACKAGE</P>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$80</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>12 Online Scenarios</strong>*</li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Supplement Online <br /><small>Also available in hard copy and ebook</small></li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online <br />scenarios for one year</li>
				<li><span class="label label-important">NEW</span> &nbsp;Flash Card Study Module</li>
				<li><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Starter%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
		<br />
	</div>
	<div class="span5">
		<div class="save-red" style="font-weight: 700;">
			Save $50
		</div>
		<div class="price-ground">
			<p style="letter-spacing: 3px; font-size: 1.3em;">FULL PACKAGE</p>
			<h1 class="oswald" style="color: white; font-size: 3em; font-weight: 400;">$190</h1>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>All 36 Online Scenarios</strong></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Supplement Online <br /><small>Also available in hard copy and ebook</small></li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online <br />exams for one year</li>
				<li><span class="label label-important">NEW</span> &nbsp;Flash Card Study Module</li>
				<li><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold; margin-bottom: -9px; width: 85%;">BUY NOW!</a></li>
			</ul>
		</div>
	</div>
	<div class="span2">
		<div class="save-white">
			&nbsp;
		</div>
		
		<div class="hidden-phone" style="padding: 0;">
			<center class="hidden-phone"><img src="/img/ncmhce-badge-solid.png" style="padding: 2em 0 0.6em 0;" /></center>
			<hr />
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/comodo_secure_113x59.png" /></center>				
			<hr />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>Business hours <br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
		<div class="visible-phone" style="padding: 0;">
			<center><p>Buy with confidence</p></center>
			<center><img src="/img/badges/comodo_secure_113x59.png" /></center>				
			<br />
			<center><h4>To order by phone.</h4></center>
			<center><p>Call toll free <br /><span style="font-size: 1.2em;">888-326-9229</span></p>
			<p><small>OBusiness hours<br />Monday - Friday<br />9:00 AM - 5:00 PM EST.</small></p><br /></center>
		</div>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<div style="margin: 12px 0 12px 0; padding: 16px 0">
			<img src="/img/ncmhce-binder-small.png" width="92px" style="margin: -22px 2px 14px 18px; padding-right: 24px;" class="pull-left" />
			<h2 class="oswald hidden-phone">Add the Study Supplement Hard Copy for only $45. Free shipping.**</h2>
			<h3 class="oswald visible-phone">Add the Study Supplement Hard Copy for only $45. Free shipping.**</h3>
			<p><em>It's the same as the eBook and updated for the DSM-5&trade;.</em></p>
		</div>
		<hr style="clear: left;" />
		<p><small>* Additional scenarios can be purchased later in sets of 12 for $80.</small></p>
		<p><small>** Must purchase Starter or Full Package to buy Optional Hard Copy for $45. See Optional Enhancements on Checkout page.</small></p>
		<p><small>If you require we ship to a PO Box please call toll free 888-326-9229 for details.</small></p>
	</div>
</div>

<!-- ======================= About Author ======================= -->

<!-- <div class="row hidden-phone">
	<div class="span12 center section-div">
		<a href="#authors"><img src="/img/page-pointer.svg" /></i></a>
	</div>
</div> -->
	
<div id="authors">
	<p> <br /><br /></p>
</div>

<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1 class="section-header">About the Authors</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h3 style="margin-bottom: 0.8em;">Gary L. Arthur <small>Ed.D., LPC, NCC, CPCS</small></h3>
		<p>
			<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
			Dr. Gary Arthur is Professor Emeritus of Professional Counseling at Georgia State University. He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and he co-wrote this study guide for the specific purpose of preparing you for the NCMHCE licensure exam.
			<br />
			<a href="http://www.arthurnceworkshop.com/" class="btn btn-primary" style="margin-top: 24px; margin-bottom: 12px;" target="_blank">Dr. Arthur's Workshops</a>
		</p>
	</div>
	<div class="span6">
		<h3 style="margin-bottom: 0.8em;">Joel Osler Brende <small>M.D.</small></h3>
		
		<p>
			<img src="/img/Joel_Brende.jpg" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 1em; margin-right: 1.5em;" />
			Joel Osler Brende, M.D. is Professor & Chairman Emeritus, Dept of Psychiatry & Clinical Professor, Dept of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of psychiatry.</p>
	</div>
</div>

<!-- ======================= Guarantee ======================= -->

<!-- <div class="row hidden-phone">
	<div class="span12 center section-div">
		<a href="#guarantee"><img src="/img/page-pointer.svg" /></a>
	</div>
</div> -->

<div id="guarantee">
	<p> <br /><br /></p>
</div>

<div class="row">
	<div class="span12">
		<div class="page-header">
			<img src="/img/pass_icon.png" class="visible-desktop visible-tablet" width="124px" style="float: right; margin-top: -14px;" />
			<img src="/img/pass_icon.png" class="visible-phone" width="80px" style="float: right; margin-top: -14px;" />
			<h1 class="section-header">Satisfaction Guarantee + Money Back Pass Guarantee</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator.</p>
	</div>
	<div class="span6 guarantee">
		<h3>Satisfaction Guarantee Return Policy Terms</h3>
		<p>
			The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Scenarios and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE Supplement, he or she has <em>3 days from the date of delivery of the Supplement</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Supplement, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online scenarios</em>. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Supplement be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
		</p>
	</div>
	<div class="span6 guarantee">
		<h3>Money Back Pass Guarantee Policy Terms</h3>
		<p>CTC offers a money back pass guarantee for The Arthur-Brende NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Supplement must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCMHCE Study Supplement must be returned.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the exam scores (and Study Supplement if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
		</ul>
	</div>
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Supplement, please call toll free 888-326-9229.</p>
	</div>
</div>


<!-- ======================= testimonials ======================= -->

<!-- <div class="row hidden-phone">
	<div class="span12 center section-div">
		<a href="#testimonials"><img src="/img/page-pointer.svg" /></i></a>
	</div>
</div> -->

<div id="testimonials">
	<p> <br /><br /></p>
</div>

<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1 class="section-header">Testimonials</h1>
		</div>
	</div>
</div>

<div class="row">

	<div class="span6">
		
		<blockquote>
			<p>
				&ldquo;I passed the NCMHCE this morning! I'm ecstatic! The study manual as well as the practice scenarios were a massive contribution to my success! Thank you!&rdquo;
			</p>
			<small>David H.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to take a few moments to say thank you for easing the anxiety and stress associated with this test. I took it twice but came a few points shy the first time and aced it the second time. The examples in the practice tests were consist with the test material and allowed me to feel more confident and prepared. The workshop was also a great tool and I am glad to have had that as an option; as it provided me the opportunity to ask you specific questions. Thanks for your patience on the call and I am so excited to be celebrating as a newly licensed therapist!&rdquo;
			</p>
			<small>Tammy Piotter</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I can say, and feel free to quote me, that nothing, in all my preparation, helped me more than the consultation with Dr. Arthur. It was the added value distinctive to your program that made all the difference. With just a short time to prepare, I bought a number of the resources that were available online, but I was still feeling very overwhelmed. The study guide helped to narrow down what I needed to focus upon, the simulated Exams helped me to become familiar with both the test format and the rationale behind the answers, but the consultation is what helped the most. Having explored the options available, it is by far the best deal out there to prepare for the NCMHCE!&rdquo;
			</p>
			<small>Phil</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed!! Without this study program, I would have failed... This program is the best. I really think your supplement should be a college book... Definitely uses examples from real-life and similar to the test. I never write these things, but was really excited and amped up to report how helpful this guide truly is. Your guide will continue to help me as I practice.&rdquo;
			</p>
			<small>Katrina P.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed the NCMHCE! I am writing to thank you because I credit the Arthur-Brende Study Program for my success. Had I not purchased your program I don't think the outcome would be the same. It was my first time sitting for the exam and I'm so grateful to have passed on the first try.&rdquo;
			</p>
			<small>Tia C.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;This study guide and the simulations were amazing and were truly the backbone of my preparation for the NCMHCE. I am now independently licensed and owe a great deal to Dr. Arthur's preparation materials. Worth the investment and then some. Wouldn't recommend taking the exam without making this purchase!&rdquo;
			</p>
			<small>Rob Ward</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I wanted to let you know how grateful I am for the help of the counselor exams study guide. I passed my NCMHCE with flying colors and I truly have this study guide and online simulations to thank! I was able to really target the material that I needed a refresher on but also affirm the things that I was doing right. I have told all of my friends that are preparing for the exam that this is the best. I will also continue to reference the material covered in this study guide throughout my career!&rdquo;
			</p>
			<small>Sherese Ezelle</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I used the 37 scenario package and I passed on my first try. In my view, I did not have to put in an inordinate amount of time and effort into studying because number one, I did have my foundation down already, and two, this course helped me to see how the test operated. Without that information, I think I would have failed. The course familiarizes one with the format, teaches one to not do "too much" in the scenarios and certainly not to make random guesses, and third, the course helps one to familiarize oneself with various testing instruments. (At least I knew some names to look up.) I felt that the course made studying very palatable, considering I was under stress already and I did not have a lot of extra time and energy for this. I would recommend this course.&rdquo;
			</p>
			<small>Amy</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Without Dr. Arthur's course and materials there was no way that I would pass one of the most important exams of my career. The sheer variety of practice scenarios and information included in the booklet give you all that you need to get a real feel for how the NCMHCE is presented and the information that you need to know to pass. Additionally Dr. Arthur makes himself available to you personally via phone and email and I cannot say enough about him as a person. He is kind, generous and very much wants to see people succeed. When I called him to tell him I passed he was elated and said that my scores were some of the highest he has ever seen. Great praise for someone who was freaking out days before the exam!&rdquo;
			</p>
			<small>Cyrus N.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Dr. Arthur, I just wanted to thank you and let you know that I passed my licensing exam on Friday. Your tutorial program is absolutely the best study program on the market. I really enjoyed talking with you this past week and the tips you provided boosted both my morale and my score! Thanks again for this great review program!&rdquo;
			</p>
			<small>D. Kent</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Great study course that prepped me within three months. The study supplement is so informative that I'll be keeping it on my library shelf as a reference. The scenarios, I believe, were the greatest asset with built-in tutorials. I can see now why Dr. Arthur provides a money-back guarantee. If you complete the scenarios and reference the supplement, you WILL pass! (And not just by the skin of your teeth.)&rdquo;
			</p>
			<small>Olivia</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I just wanted to thank all you for the support and such thorough testing software. I just took my NCMHCE today and I passed. I know that the details and the team support I received as well as the follow through with the questions I asked Dr. Arthur; are one of the many reason I was successful today. Thank You&rdquo;
			</p>
			<small>Jasmin</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Thank you so much, Dr. Arthur! On 12/12/2013 I passed the NCMHCE exam on the first attempt using Dr. Arthur's study program. The online practice scenarios were priceless. The program is affordable and the study guide provides a wealth of information that I will continue to use in my practice as a source of valuable information.&rdquo;
			</p>
			<small>Roxanne Miller</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I wanted to let you know that I passed the NCMHCE for the first time last Friday. I used several study materials but feel your materials were the best and most closely approximated the actual exam.  I felt my money was well spent on the Arthur-Brende study materials.  I will recommend these materials to others who study for the exam.  The study materials that summarized diagnoses with symptoms, typical assessments, appropriate treatments and differential diagnoses were especially helpful.&rdquo;
			</p>
			<small>Donna B.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I want to thank you for your great customer service and support. I passed! The scenarios were especially helpful, and I was very pleased with the package overall. A very good use of my money - it was worth it! I will recommend your program to my peers.&rdquo;
			</p>
			<small>Debbie M.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I am a licensed professional and have taken lots of other exams. The NCMHCE is by far the most difficult exam I have taken. If it wasn&#39;t for your material and excellent assistance, I would not have passed my NCMHCE exam and received my state license. Other study material sites are not as professional or helpful as yours.&rdquo;
			</p>
			<small>S. Winkelmann</small>
		</blockquote>
		
	</div>

	<div class="span6 hidden-phone">

		<blockquote>
			<p>
				&ldquo;Hello, I just passed the NCMHCE and did really well! I know it's because of the scenarios that your program provided. Thank you so much! &rdquo;
			</p>
			<small>K. Malavenda</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I wanted to share that I just passed my NCMHCE exam today on my first try!! Your simulations were excellent at helping me understand exactly how to proceed on my exam. I am thrilled and will continue to refer others to your site. Thank you again!&rdquo;
			</p>
			<small>Marissa</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to say thank you. I passed the NCMHCE today!! This program was everything I needed in order to properly prepare for the exam.&rdquo;
			</p>
			<small>Michelle</small>
		<blockquote>
			</blockquote>
			<p>
				&ldquo;It is with great pleasure and gratitude to tell you that I passed the NCE thanks to your program. Please add me to the statistics of people that have passed the exam because of your help! With much, much gratitude!&rdquo;
			</p>
			<small>Jeff Helms</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;The online [scenarios] were exactly what I needed. I needed lots of repetition of just doing the exam over and over so that I could understand what they were looking for. I took the NCMHCE the first time without your materials and failed. I took it the second time after studying a lot with your materials, any my scores went up over 25 points. Your materials significantly helped.&rdquo;
			</p>
			<small>Jeremy Rampton, LCPC</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I want to thank you for how brilliantly you developed your study guide materials. I took the licensing exam yesterday for Mental Health & passed. Your guide was instrumental in allowing me to get a grasp on the structure & content of exam. I'm confident that because of your guide I passed the exam with flying colors! Thank you again for making this guide such a valuable resource.&rdquo;
			</p>
			<small>Rosy C. Landa</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed the NCMHCE today! I scored 30 points over the minimum passing score in information gathering and 15 points over the minimum passing score in decision making. Your website, the practice scenarios, the study guide, and the phone consultation were absolutely invaluable. I do not believe I would have passed without them!! Thank you!&rdquo;
			</p>
			<small>V. Schmidt</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;Thanks again for your support. The [consultation] phone call was invaluable. And I am most certainly recommending your study guide/online scenarios for friends of mine also studying for the exam.&rdquo;
			</p>
			<small>Chris Sloane</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;After failing to pass the NCMHCE last year, I took your course. I knew my problems were with HOW to take the exam. I found your study guide and practice scenarios to be just the ticket to improve my understanding of the exam structure. I'm happy to report that I passed the NCMHCE today!&rdquo;
			</p>
			<small>Sandra Wiggins</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I'm excited to report that I passed the NCMHCE! Taking the practice scenarios helped me to understand more about appropriate information gathering and decision making. The first time I took the NCMHCE I failed the decision making portion and knew I needed more practice and was referred to CounselorExams. Thank you!&rdquo;
			</p>
			<small>Meagan K.</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to say that I PASSED the NCMHCE today and I have your scenarios to thank for it!  I will recommend them to others.&rdquo;
			</p>
			<small>M. Welch</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I just received word that I passed the NCMHCE! I previously took the test twice and failed twice. I had studied with another company's materials. I just did not understand what they were asking me to do. But by studying with your scenarios, I was able to see the pattern, understand the structure of the test and apply all the knowledge I had. Your examples and explanations of your scoring made it clear why some choices were not acceptable. Thanks for your wonderful web site and your personal service. It made all the difference and I went in feeling completely confident. I passed both sections with 30 more points than I actually needed!&rdquo;
			</p>
			<small>Jane Pitts</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;This is awesome! I don't need to carry around the binder version and I can easily access the eBook while I'm relaxing in bed doing night time reading before sleeping-- in other words, it's awesome that it's so accessible! Thank you!&rdquo;
			</p>
			<small>J. Cho</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to let you all know that I took the NCMHCE today... and passed on my first attempt. Your full package of scenarios was VERY helpful in preparing for the exam. In fact, they were more difficult...which made the test seem relatively easy in comparison. Thanks again... and have a good holiday season.&rdquo;
			</p>
			<small>Dr. Joe Cusumano</small>	
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I can't imagine taking the licensure exam without having used the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> materials to study. I highly recommend it to others preparing for the NCMHCE!&rdquo;
			</p>
			<small>Mindy Parsons</small>
		</blockquote>
		<blockquote>
			<p
			>&ldquo;Your customer service ranks among the best I have ever experienced and please know I will continue to advocate your services to all peers and mentorees.&rdquo;
			</p>
			<small>A. Campbell</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I just wanted to say a huge THANK YOU because the materials helped so much and I passed my test the first time taking it. The scenarios were so similar to the ones provided and possibly even a little harder, which made me feel extra confident during the actual exam.&rdquo;
			</p>
			<small>Sara F.</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I am recommending the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> to everyone. It was like the actual exam, and very thorough.&rdquo;
			</p>
			<small>Debra Fitzgerald</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Dr. Arthur, I just wanted to drop you a quick line to let you know that I passed the exam today.  Thank you very much for your scenarios and for the time that you gave me on the phone.  Your advice was very helpful in approaching the exam.  There were a few scenarios on there that didn't get much focus in your simulations, but there were others that I was more confident with due to what I learned in the simulations, and I was able to use the test-taking strategies we discussed to get through the ones I was somewhat uncertain on.&rdquo;
			</p>
			<small>M. Trillizio</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I did pass my exam on the first try and I attribute that to your study materials. I will refer your site to other colleagues who are planning to take this exam. I found both the simulations and the accompanying hand book very helpful.&rdquo;
			</p>  
			<small>T. Kirsimae</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed with flying colors, no small part due to the preparation I received from both the study guide and particularly the scenarios. I would highly recommend using this program to all who seek to pass this exam. Thanks!&rdquo;
			</p>
			<small>M.R.</small>
		</blockquote>
	</div>
</div>
<div class="row">	
	<div class="span12">	
		<hr />
		<p class="pull-left"><small><sup>1</sup> Based on number of refunds requested due to failed exams.</small></p>
	</div>
</div>


		<a href="#top" style="position: fixed; bottom:24px;right: 26px;" class="hidden-phone"><img src="/img/phone-up-pointer.svg" /></a>
		<a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>
