<div class="row product-banner">
	<div class="span4">
		<br class="hidden-phone" />
		<p><a href="#product"><img src="/img/ncmhce-large.png" /></a></p>
		<p>
					<form class="form-inline">
						<hr />
						<p><a class="btn btn-success btn-large pull-left" href="/checkout/ncmhce" style="font-weight: bold; width: 42%;">BUY NOW!</a>
						<a class="btn btn-success btn-large pull-right" href="#pricing" style="font-weight: bold; width: 30%;">Pricing</a></p>
				
						<p style="text-align: center; clear: both; padding-top: 12px;"><small>For shipping outside the continental US,<br />please order by phone at +1-888-326-9229.</small></p>
					</form>
				</p>
	</div>
	<div class="span8">
		<p><a href="#product"><img src="/img/ncmhceGroup.jpg" /></a></p>
	</div>
	<div class="span12">
			<p class="lead hidden-tablet">We are very proud that 95% of our customers passed their exam in 2011!<sup>1</sup></p>
			<p class="lead visible-tablet" style="font-size: 1.6em;">We are very proud that 95% of our customers passed their exam in 2011!<sup>1</sup></p>
			<p style="font-size: 1.5em; color: gray;" class="hidden-phone">Free Sample Scenario - No registration required. Try it now! <a href="/ncmhce/sample" class="btn btn-primary" style="margin-top: -3px;">Sample Scenario</a>
		
			<!-- <p class="lead" style="font-size: 1.5em; color: gray">Since 2000, counselors have used the Arthur-Brende Study Program for the NCMHCE to prepare for their state licensure exam.</p> -->
		</div>
</div>

<div id="product"> </div>

<!-- ======================= Product Info ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

<div class="page-header">
	<h1 style="font-size: 3em;">The Arthur-Brende NCMHCE Study Program</h1>
</div>
<div class="row">
	<div class="span5">
		<img src="/img/ncmhce-scenario.jpg" style="width: 80%;" class="hidden-phone" />
		<p style="padding-right: 24px;">The Arthur-Brende Scenario Simulator includes 37 online scenarios that emulate the actual NCMHCE exam, measuring your information gathering and decision making abilities. Each includes one or more of the five axis as found in the DSM-IV-TR diagnostic manual. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace. Try a sample scenario free.</p>
	<a href="/ncmhce/sample" class="btn btn-primary" style="margin-top; 4px;">Sample Scenario</a>
	<br /><br />
	</div>
	<div class="span7">
		<div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="img/ncmhce-show/ncmhceprofile.png" width="100%" alt="">
                <div class="carousel-caption">
                  <p>On your Profile page you get access to to your scenarios, downloads, and account information.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/ncmhce-show/ncmhcwmjw.png" width="100%" alt="">
                <div class="carousel-caption">
                  <p>You can get you score and other feedback or take the scenario again.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/ncmhce-show/scenarios.png" width="100%" alt="">
                <div class="carousel-caption">
                  <p>You can keep track of which scenarios you have taken, choose new ones, and see your scores.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/ncmhce-show/ss-book.jpg" width="100%" alt="">
                <div class="carousel-caption">
                  <p>The eBook can be read on a variety of devices.</p>
                </div>
              </div>
			  
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
	</div>
</div>
<br />
<div class="row">	
	<div class="span6 features">
		
		<img src="img/check.png" class="check" /><h2>Online Scenario Simulator</h2>
		<p>The Arthur-Brende Scenario Simulator includes 37 online scenarios that <strong>emulate the actual NCMHCE exam</strong>, measuring your information gathering and decision making abilities. You can purchase all 37 scenarios, or "pay as you go" in sets of 12.</p> 
		
		<img src="img/check.png" class="check" /><h2>Study Supplement</h2>
		<p>This overview of the actual NCMHCE with study and test taking strategies is included with your Scenario Simulator purchase, and available as an eBook or PDF for immediate download - also available in hardcopy.</p>
		<p class="hidden-phone"><a href="http://tayloraid.com/ce/Sample%20NCMHCE%20Supplement.pdf" class="btn btn-primary btn-mini" target="_blank">Sample PDF</a></p>
		<img src="img/check.png" class="check" /><h2>Pass Guarantee</h2>
		<p>Pass the NCMHCE or the purchase price will be refunded to you. See <a href="#guarantee">guarantee policies</a> for details.</p>
	</div>
	<div class="span6 features">
		
		<img src="img/check.png" class="check" /><h2>Learn at your own pace</h2>
		<p>Unlike many other NCMHCE scenario products, our scenarios may be taken <strong>multiple times</strong> for up to one full year. This allows you to study at the pace that works best for you.</p>

		<img src="img/check.png" class="check" /><h2>Consultation</h2>
		<p>As part of any package purchased, you can schedule a consultation with Dr. Gary Arthur for up to 30 minutes.</p>
		
		<img src="img/check.png" class="check" /><h2>Feedback</h2>
		<p>Your scenario scoring is broken down into the separate categories of information gathering and decision making abilities, just like the actual NCMHCE. This helps you determine where to focus your exam preparation. You are also provided the average score of all other users for each specific scenario, so you can compare your scores to your peers.</p>
		
	</div>
</div>	
	
<div id="pricing"> </div>

<!-- ======================= Pricing ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

		<div class="page-header">
			<h1>Pricing</h1>
		</div>
		
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span4"><br class="hidden-phone" />
						<div class="grid-ground">
							<center><h3>Starter Package</h3></center>
							<div class="price-ground">
							<h1>$80</h1>
							</div>
							<ul>
								<li><strong>12 Scenarios</strong>*</li>
								<li>Study Supplement eBook</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online scenarios for one full year</li>
							</ul>
							
							<center><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Starter%20Package" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
					<p class="visible-phone">* Additional scenarios can be purchased later in sets of 12 for $80</p>
					<br class="visible-phone" />
					<div class="span4 minus-offset">
						<center><span class="price-box">Save $50</span></center>
						<div class="grid-ground" style="margin-top: -12px;">
							<center><h3 style="margin-top: 15px;">Full Package</h3></center>
							<div class="price-ground">
								<h1>$190</h1>
							</div>
							<ul>
								<li><strong>All 36 Scenarios</strong></li>
								<li>Study Supplement eBook</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online scenarios for one full year</li>
							</ul>
							<center><a class="btn btn-success btn-large" href="/checkout/ncmhce?package=Full%20Package" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8 " >
						<div class="grid-ground hidden-phone" style="margin: -22px 56px 12px 32px; padding: 16px 0">
							<center><h4>Get the <span style="color: green;">Study Supplement</span> in <span style="color: green;">Hard Copy</span> for <span style="color: green;">$12.95 shipping</span>.**<br />It's the same as the eBook.</h4></center>
						</div>
						<div class="grid-ground visible-phone" style="padding: 16px 0">
							<center><h4>Get the <span style="color: green;">Study Supplement</span> in <span style="color: green;">Hard Copy</span> for <span style="color: green;">$12.95 shipping</span>.**<br />It's the same as the eBook.</h4></center>
						</div>
						
					</div>
				</div>
				<p class="hidden-phone">* Additional scenarios can be purchased later in sets of 12 for $80
				<br />** If you require we ship to a PO Box please call toll free 888-326-9229 for details.</p>
				<p class="visible-phone">** If you require we ship to a PO Box please call toll free 888-326-9229 for details.</p>
				
			</div><br />
			<div class="span4">
				<center><img src="/img/ncmhce-large.png" style="width: 75%;" class="hidden-phone" /></center>
				
				
				<hr class="hidden-phone" />
				<center><p>Buy with confidence</p></center>
				<center><img src="/img/badges/comodo_secure_113x59.png" /></center>				
				<hr />
				<center><h4>You may place your order by phone.</h4></center>
				<center><p>Call toll free at 888-326-9229. <br />Our business hours are <br />Monday - Friday, 9:00 AM - 5:00 PM EST.</p></center>
				
			</div>
		</div>

<!-- ======================= About Author ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

<div class="page-header">
	<h1>About the Authors</h1>
</div>

<div class="row">
	<div class="span6">
		<h3>Gary L. Arthur <small>Ed.D., LPC, NCC</small></h3>
		<p>
			<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 5em; margin-right: 1.5em;" />
			Dr. Gary Arthur is Professor Emeritus of Professional Counseling at Georgia State University. He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and he co-wrote this study guide for the specific purpose of preparing you for the NCMHCE licensure exam.
			<br />
			<a href="http://www.arthurnceworkshop.com/" class="btn btn-mini btn-info" style="margin-top: 9px;" target="_blank">Dr. Arthur's Workshops</a>
		</p>
	</div>
	<div class="span6">
		<h3>Joel Osler Brende <small>M.D.</small></h3>
		<p>Joel Osler Brende, M.D. is Professor & Chairman Emeritus, Dept of Psychiatry & Clinical Professor, Dept of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of psychiatry.</p>
	</div>
</div>
<div id="guarantee"> </div>

<!-- ======================= Guarantee ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

<div class="page-header">
	<img src="/img/pass-icon.png" width="93px" style="float: right; margin-top: -28px;" class="visible-phone" />
	<img src="/img/pass-icon.png" width="124px" style="float: right; margin-top: -20px;" class="hidden-phone" />
	<h1>Satisfaction Guarantee + Money Back Pass Guarantee</h1>
</div>

<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>


<div class="row">
	<div class="span12">
		<p>The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator.</p>
	</div>
	<div class="span6 guarantee">
		<h3>Satisfaction Guarantee Return Policy Terms</h3>
		<p>
			The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Scenarios and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE Supplement, he or she has <em>3 days from the date of delivery of the Supplement</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Supplement, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online scenarios</em>. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Supplement be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
		</p>
	</div>
	<div class="span6 guarantee">
		<h3>Money Back Pass Guarantee Policy Terms</h3>
		<p>CTC offers a money back pass guarantee for The Arthur-Brende NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to return the Study Supplement along with a copy of proof of failure to CTC.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the Study Supplement, CTC will send a refund check to the original purchaser for the original price (excludes all shipping charges and any applicable sales tax).</li>
		</ul>
	</div>
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Supplement, please call toll free 888-326-9229.</p>
	</div>
</div>


<!-- ======================= testimonials ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

<div class="page-header">
	<h1>Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
	
		<blockquote>
			<p>
				&ldquo;I wanted to let you know that I passed the NCMHCE for the first time last Friday. I used several study materials but feel your materials were the best and most closely approximated the actual exam.  I felt my money was well spent on the Arthur-Brende study materials.  I will recommend these materials to others who study for the exam.  The study materials that summarized diagnoses with symptoms, typical assessments, appropriate treatments and differential diagnoses were especially helpful.&rdquo;
			</p>
			<small>Donna B.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;This is awesome! I don't need to carry around the binder version and I can easily access the eBook while I'm relaxing in bed doing night time reading before sleeping-- in other words, it's awesome that it's so accessible! Thank you!&rdquo;
			</p>
			<small>J. Cho</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I can't imagine taking the licensure exam without having used the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> materials to study. I highly recommend it to others preparing for the NCMHCE!&rdquo;
			</p>
			<small>Mindy Parsons</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I want to thank you for your great customer service and support. I passed! The scenarios were especially helpful, and I was very pleased with the package overall. A very good use of my money - it was worth it! I will recommend your program to my peers.&rdquo;
			</p>
			<small>Debbie M.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I am a licensed professional and have taken lots of other exams. The NCMHCE is by far the most difficult exam I have taken. If it wasn&#39;t for your material and excellent assistance, I would not have passed my NCMHCE exam and received my state license. Other study material sites are not as professional or helpful as yours.&rdquo;
			</p>
			<small>S. Winkelmann</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Dr. Arthur, I just wanted to drop you a quick line to let you know that I passed the exam today.  Thank you very much for your scenarios and for the time that you gave me on the phone.  Your advice was very helpful in approaching the exam.  There were a few scenarios on there that didn't get much focus in your simulations, but there were others that I was more confident with due to what I learned in the simulations, and I was able to use the test-taking strategies we discussed to get through the ones I was somewhat uncertain on.&rdquo;
			</p>
			<small>M. Trillizio</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to say that I PASSED the NCMHCE today and I have your scenarios to thank for it!  I will recommend them to others.&rdquo;
			</p>
			<small>M. Welch</small>
 		</blockquote>

	</div>

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;I just received word that I passed the NCMHCE! I previously took the test twice and failed twice. I had studied with another company's materials. I just did not understand what they were asking me to do. But by studying with your scenarios, I was able to see the pattern, understand the structure of the test and apply all the knowledge I had. Your examples and explanations of your scoring made it clear why some choices were not acceptable. Thanks for your wonderful web site and your personal service. It made all the difference and I went in feeling completely confident. I passed both sections with 30 more points than I actually needed!&rdquo;
			</p>
			<small>Jane Pitts</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed the NCMHCE yesterday and I couldn't have done it without Dr. Arthur's Study Guide and the practice simulations. The way the study guide tied everything together (diagnosis, treatment planning, counseling interventions, and psychological testing) was incredibly helpful and the simulations assisted me in learning how to take the test. Thanks for your help.&rdquo;
			</p>
			<small>Penny Minor</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;Just wanted to let you all know that I took the NCMHCE today... and passed on my first attempt. Your full package of scenarios was VERY helpful in preparing for the exam. In fact, they were more difficult...which made the test seem relatively easy in comparison. Thanks again... and have a good holiday season.&rdquo;
			</p>
			<small>Dr. Joe Cusumano</small>	
		</blockquote>
		
		<blockquote>
			<p
			>&ldquo;Your customer service ranks among the best I have ever experienced and please know I will continue to advocate your services to all peers and mentorees.&rdquo;
			</p>
			<small>A. Campbell</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I just wanted to say a huge THANK YOU because the materials helped so much and I passed my test the first time taking it. The scenarios were so similar to the ones provided and possibly even a little harder, which made me feel extra confident during the actual exam.&rdquo;
			</p>
			<small>Sara F.</small>
 		</blockquote>
		<blockquote>
			<p>
				&ldquo;I did pass my exam on the first try and I attribute that to your study materials. I will refer your site to other colleagues who are planning to take this exam. I found both the simulations and the accompanying hand book very helpful.&rdquo;
			</p>  
			<small>T. Kirsimae</small>
		</blockquote>
				<blockquote>
			<p>
				&ldquo;I am recommending the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> to everyone. It was like the actual exam, and very thorough.&rdquo;
			</p>
			<small>Debra Fitzgerald</small>
		</blockquote>
		
		
	</div>
	
</div>
<br />
<div class="well">
	<sup>1</sup> Based on number of refunds requested due to failed exams.
</div>