<div class="page-header">
  <h1>Oh No!</h1>
</div>

<p>It looks like you don't have JavaScript enabled. This site makes heavy use of JavaScript. If you'd like to continue, please enable JavaScript in your browser and <a href="<%= request.referrer %>">try again</a>.</p>
