<div class="row">	
	<div class="span8 offset2">
		
		<div class="page-header">
			<h1>Sign In</h1>
		</div>
		
		<form class="form-horizontal" id="sign-in-form" method="post" action="/sign-in">
			
			<div class="control-group" id="email-group">
				<label class="control-label" for="email">Email address</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="email" name="email" value="<%= params[:email] %>">
				</div>
			</div>
						
			<div class="control-group" id="password-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password" name="password" value="<%= params[:password] %>" autocomplete="off">
					<br />
					<small><a href="#" id="reset-password">I forgot my password</a></small>
				</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="tos" id="tos" checked /> I agree to the <a href="/terms-of-service">Terms of Service</a>.
					</label>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn btn-primary" id="sign-in-btn" value="Sign in" />
				</div>
			</div>

		</form>
		
	</div>
</div>