<div id="#top"> </div>
<div class="row fixed" style="margin-top: -2em; position: fixed;">
	<div class="span12 center" style="padding-bottom: 1em; background-color: white;">
		<div class="pagination">
			<ul>
				<li><a href="#top"><strong>NCMHCE</strong></a></li> 
				<li><a href="#nce"><strong>NCE</strong></a></li> 
				<li><a href="#ceu"><strong>CEU</strong></a></li> 
				<li><a href="#"><strong>Guarantee</strong></a></li>
			</ul>
		</div>
	</div>
	<div class="span12 center"style="padding-top: 1em; padding-bottom: 0.5em; background-color: white;">
		<img src="/img/pass_icon.png" style="width: 100px; position: fixed; right: 15%; top: 10%">
		<p class="home-header">Arthur Study Programs</p>
		<p style="font-weight: 300; font-size: 1.4em; margin-top: 1.4em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
		

	<div class="grad-border span12">
		<p></p>
	</div>
</div>
		<!-- <div class="span2">
			<img src="/img/pass_icon.png" style="width: 100px;">
		</div> -->
<div class="row" style="margin-bottom: 4em; margin-top: 14em;">
	<div class="span8">
		<img src="/img/ncmhce-group.png">
	</div>
	<div class="span4">
		<p class="oswald-header">National Clinical Mental Health Counseling Examination</p>
		<p>The Arthur-Brende Scenario Simulator includes 36 online scenarios that emulate the actual NCMHCE exam, measuring your information gathering and decision making abilities. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace. Try a sample scenario for free. No registration required.</p>
		<p><a href="/ncmhce" class="btn btn-primary">Get more info!</a></p>
	</div>
</div>
<div id="nce"> </div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300; font-size: 1.3em;">Dr. Arthur's Study programs remain the most trusted tools in the field, <br />designed to provide the most comprehensive material available! Guaranteed!</p>
	</div>
</div>
<div class="row" style="margin-bottom: 5em; margin-top: 15em;">
	<div class="span8">
		<img src="/img/nce-group-new.png">
	</div>
	<div class="span4">
		<p class="oswald-header">National Counseling Examination</p>
		<p>This is the comprehensive study guide that has been instrumental in helping thousands of counselors pass the National Counselor Examination (NCE) used for state licensure.</p>
		<p><a href="/nce" class="btn btn-primary">Get more info!</a></p>
	</div>
	
</div>
<div id="ceu"> </div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300; font-size: 1.3em;">Learn at your own pace! Exams may be taken multiple times for up to a full year. <br />Study guides are available as eBook for easy portability.</p>
	</div>
</div>

<div class="row" style="margin-bottom: 5em; margin-top: 15em;">
	<div class="span8">
		<img src="/img/nce-group-new.png">
	</div>
	<div class="span4">
		<p class="oswald-header">Continuing Education Units</p>
		<p>Upon completion of all scenarios included in your CEU Home Study Program, click on the “Submit my scores to the account administrator”. Once received, your Certificate of Completion will be emailed to you. If you prefer a printed certificate be mailed to you, please email dstorm@careertrain.com with your request making sure to include your complete mailing address and put “Request for CEU Certificate” in the subject line.</p>
		<p><a href="/ceu" class="btn btn-primary">Get more info!</a></p>
	</div>
</div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300;"><strong>Not sure which licensure exam you need to take?</strong><a class="btn btn-mini btn-primary" style="margin-top: 0px; margin: 0 1em;" href="http://nbcc.org/directory" target="_blank"><strong>CHECK MY STATE</strong></a>The NBCC web site has your state's specific licensure info.
		</p>
	</div>
</div>
			




	
