<div id="#top"> </div>
<div class="row fixed" style="margin-top: -2em; position: fixed;">
	<div class="span12 center" style="padding-top: 1em; padding-bottom: 3em; background-color: white;">
		<!-- <div class="navbar">
			<div class="btn-group" data-toggle="buttons-radio" autocomplete="off">

				<a href="#top" class="btn active oswald blue-color">NCMHCE</a>
				<a href="#nce" class="btn oswald blue-color">NCE</a>
				<a href="#ceu" class="btn oswald blue-color">CEU</a>
				<a href="#guarantee" class="btn oswald blue-color">Guarantee</a>

			</div>
		</div> -->
	</div>
	<div class="span12 center"style="padding-top: 1em; padding-bottom: 0.5em; background-color: white;">
		<img src="/img/pass_icon.png" style="width: 100px; position: fixed; right: 15%; top: 5em">
		<p class="home-header">Arthur Study Programs</p>
		<p style="font-weight: 300; font-size: 1.4em; margin-top: 1.6em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
		

	<div class="grad-border span12">
		<p></p>
	</div>
</div>
		<!-- <div class="span2">
			<img src="/img/pass_icon.png" style="width: 100px;">
		</div> -->
<div class="row" style="margin-bottom: 1em; margin-top: 12em;">
	<div class="span8">
		<img src="/img/ncmhce-group.png">
	</div>
	<div class="span4">
		<p class="oswald-header">National Clinical Mental Health Counseling Examination</p>
		<p>The Arthur-Brende Scenario Simulator includes 36 online scenarios that emulate the actual NCMHCE exam, measuring your information gathering and decision making abilities. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace. Try a sample scenario for free. No registration required.</p>
		<p><a href="/ncmhce" class="btn btn-primary">GET MORE INFO</a></p>
	</div>
</div>
<div id="nce"> </div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300; font-size: 1.3em;">Dr. Arthur's Study programs remain the most trusted tools in the field, <br />designed to provide the most comprehensive material available! Guaranteed!</p>
	</div>
</div>
<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#nce"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 1em; margin-top: 7em;">
	<div class="span8">
		<img src="/img/nce-group-new.png">
	</div>
	<div class="span4">
		<p class="oswald-header">National Counseling Examination</p>
		<p>This is the comprehensive study guide that has been instrumental in helping thousands of counselors pass the National Counselor Examination (NCE) used for state licensure.</p>
		<p><a href="/nce" class="btn btn-primary">GET MORE INFO</a></p>
	</div>
</div>

<div id="ceu"> </div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300; font-size: 1.3em;">Learn at your own pace! Exams may be taken multiple times for up to a full year. <br />Study guides are available as eBook for easy portability.</p>
	</div>
</div>
<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#ceu" style="padding: 1px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 1em; margin-top: 7em;">
	<div class="span8">
		<img src="/img/nce-group-new.png">
	</div>
	<div class="span4">
		<p class="oswald-header">Continuing Education Units</p>
		<p>Upon completion of all scenarios included in your CEU Home Study Program, click on the “Submit my scores to the account administrator”. Once received, your Certificate of Completion will be emailed to you. If you prefer a printed certificate be mailed to you, please email dstorm@careertrain.com with your request making sure to include your complete mailing address and put “Request for CEU Certificate” in the subject line.</p>
		<p><a href="/ceu" class="btn btn-primary">GET MORE INFO</a></p>
	</div>
</div>
<div class="row">
	<div class="span12 center">
		<p style="font-weight: 300;"><strong>Not sure which licensure exam you need to take?</strong><a class="btn btn-mini btn-primary" style="margin-top: 0px; margin: 0 1em;" href="http://nbcc.org/directory" target="_blank"><strong>CHECK MY STATE</strong></a>The NBCC web site has your state's specific licensure info.
		</p>
	</div>
</div>
<div id="guarantee"> </div>
<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#guarantee" style="padding: 1px 60px;"><img src="/img/page-pointer.png" /></a>
		</div>
	</div>
</div>



<div class="row" style="margin-bottom: 4em; margin-top: 8em;">
	<div class="span12">
		<p class="all-header blue-color" style="margin-bottom: 0.5em;">Satisfaction Guarantee + Money Back Pass Guarantee</p>
		<p class="oswald-header">Pass the Exam or the purchase price will be refunded <span class="lead">(less shipping and taxes)</span></h3>
		<p class="lead">The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator and The National Counselor Examination Exams and Study Guide.</p>
		<div class="row">
			<div class="span6">
				<h3>Satisfaction Guarantee Return Policy Terms</h3>
				<p>The customer has 3 days from the purchase date to review the purchased <em>online services,</em> including online Scenarios and eBook, to confirm that it is what he or she expected. If the customer has purchased a hard-copy of the NCMHCE Supplement, he or she has <em>3 days from the date of delivery of the Supplement</em>. If unhappy with the content for any reason, the customer is required to notify CTC within these 3 days either by phone or e-mail that he/she is requesting a refund and will be returning the Supplement, if applicable. Further, to qualify for a refund, the customer <em>may not have accessed more than 3 online scenarios</em>. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued. For those customers who have purchased the hard-copy, it is required the hard-copy Supplement be returned to CTC in good condition. Once CTC has received the hard-copy, a refund will be issued (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
				</p>
			</div>
			<div class="span6">
				<h3>Money Back Pass Guarantee Policy Terms</h3>
				<p>CTC offers a money back pass guarantee for The Arthur-Brende NCMHCE Study Program. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
				<ul>
					<li>The Study Supplement must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
					<li>If the exam is failed, the customer has 90 days to forward a copy of proof of failure to CTC. If the hard copy was ordered, the NCMHCE Study Supplement must be returned.</li>
					<li>Note: The return expense is the responsibility of the customer.</li>
					<li>Once CTC receives the exam scores (and Study Supplement if ordered), CTC will refund the credit card originally used via our online payment service (excludes all shipping charges and any applicable sales tax). The credit should appear 5-10 business days from the processing date.</li>
					</ul>
			</div>
		</div>
	</div>
	<a href="#top" style="position: fixed; bottom:24px;right: 26px;"><img src="/img/top-pointer.png" /></a>
</div>
<div class="row">
	<div class="span12 center">
		<div id="product" class="span12 section-div" style="clear: left;">
			<a href="#top" style="padding: 1px 60px;"><img src="/img/top-pointer.png" /></a>
		</div>
	</div>
</div>
			




	
