<div class="row" style=" margin-top: 1em; margin-bottom: 2em;">
	<div class="span8 offset2 center">
		<h1 class="oswald" style="font-weight: 400; font-size: 3.7em; color: #535353;">
			Arthur Study Programs
		</h1>
		<p style="font-weight: 300; font-size: 1.4em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
	<div class="span2">
		<img src="/img/pass_icon.png" style="width: 100px;">
	</div>
</div>
<div class="row">
	<div class="center" style="margin-bottom: 3em;">
		<img src="img/main-group.png" style="width: 80%; padding-bottom: 1em;">
			<p style="font-size: 1.3em; color: #535353; line-height: 1.4em;">Dr. Arthur's Study programs remain the most trusted tools in the field, <br />
		designed to provide the most comprehensive material available! Guaranteed!</p>
	</div>
</div>
<div class="row" style="margin-bottom: 2em;">
	<div class="span4 center">
		<div class="product-field">
			<!-- <img src="img/nce-white.png" style="height: 80px;  padding-top: 1.5em;"/> -->
			<h2 class="welcome-header" style="padding: 1em 1em 0 1em;">National Counselor <br />Examination</h2>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>4 online Practice Exams</strong></li>
				<li>Study Guide eBook</li>
				<li>Consultation with Dr. Arthur <br />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online exams for one year</li>
				<li><a class="btn btn-primary" href="/nce" style="margin-bottom: -9px;">More info</a></li>
			</ul>
		</div>
	</div>
	<div class="span4 center">
		<div class="product-field">
			<!-- <img id="ncmhce-badge" src="img/ncmhce-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<h2 id="ncmhce-text" class="welcome-header" style="padding: 0.3em 1em 0 1em;">National Clinical Mental <br />Health Counseling <br />Examination</h2>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>36 Online Scenarios</strong></li>
				<li>Study Supplement eBook</li>
				<li>Consultation with Dr. Arthur <br />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online scenarios for one year</li>
				<li><a class="btn btn-primary" href="/ncmhce" style="margin-bottom: -9px;">More info</a></li>
			</ul>
		</div>

	</div>
	<div class="span4 center">
		<div class="product-field">
			<!-- <img src="img/ceu-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<h2 class="welcome-header" style="padding: 1em 1em 0 1em;">Continuing Education <br />Units</h2>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>14 Online Scenarios</strong></li>
				<li>Qualify for one CEU credit <br />per scenario</li>
				<li>NBCC Approved</li>
				<li>Receive unlimited access to online scenario for 30 days</li>
				<li>Download certificate PDF</li>
				<li><a class="btn btn-primary" href="/ceu" style="margin-bottom: -9px;">More info</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row" style="margin-top: 5em; margin-bottom: 4em;">
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/practice.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <h1 class="media-heading" style="color: #535353;">NCMHCE Online Practice Scenarios</h1>
			<p>Practice scenarios provide more realistic exam situations. They are designed to simulate and better prepare you for the actual exam.</p>
			<!-- <p><a class="btn btn-small" href="#">More Info</a></p> -->
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="media">
			<a class="pull-left" href="#">
				<img src="/img/flashcard.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
			</a>
			<div class="media-body">
				<h1 class="media-heading" style="color: #535353;">Flash Card Study Module</h1>
				<p>Flash cards help reinforce learning. They cover all categories of the study materials for both NCE and NCMHCE programs.</p>
				<!-- <p><a class="btn btn-small" href="#">More Info</a></p> -->
			</div>
		</div>
	</div>
</div>	
<div class="row" style="margin-bottom: 4em;">
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/pass_icon-left.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <h1 class="media-heading" style="color: #535353;">Money Back Pass Guarantee</h1>
			<p><strong>Satisfaction Guaranteed!</strong> CTC offers a money back pass guarantee. Pass your exam, or CTC will refund your money.</p>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/gary-64.gif" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <h1 class="media-heading" style="color: #535353;">Dr. Arthur's Workshops</h1>
			  <p>Dr. Arthur presents both NCE and NCMHCE workshops. Visit <a href="http://www.arthurnceworkshop.com/" target="_blank">Dr. Arthur's Workshops</a> to get more information or to register for a workshop.</p>
			</div>
		</div>
	</div>
</div>
<hr />
<div class="center">
	<p style="font-weight: 400; line-height: 1.6em;"><span class="oswald blue-color" style="font-size: 1.7em;">Not sure which licensure exam you need to take?</span><br />
		The NBCC web site has your state's specific licensure info.<br />
		<a class="btn btn-small btn-primary" href="http://nbcc.org/directory" target="_blank" style="margin-top: 1em;">CHECK MY STATE</a>
	</p>
	
</div>

	
