<div class="row">
	<div class="span12 center">
		<h1 class="oswald center" style="font-weight: 400; font-size: 3.4em; color: #1c89de; margin-top: 0.7em;">
			Arthur-Brende Study Programs
		</h1>
	</div>
		<div class="span12 center">
			<div id="picmain">	
				<h5 style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #213672;">
					Pass Your State Licensure Exam!
				</h5>
				<p style="font-size: 1.4em; line-height: 1.5em; color: #535353; font-weight: 300; margin-bottom: 0.9em; margin-top: 0.2em;">
					Dr. Arthur's Study programs remain the most trusted tools in the field,<br /> 
					designed to provide the most comprehensive material available! Guaranteed!
				</p>
				<!-- <div class="bubble">
					<strong>&ldquo;</strong> The scenarios seem like one is in the office with the client and challenging my analytical, organizational, and clinical skills. I passed the NCE and NCMHCE exams! I could not have done it without your study tools!. The practice was invaluable. Thank you Drs. Arthur and Brende. <strong>&rdquo;</strong> <em class="pull-right">Pam B.</em>
				</div>
				<img src="img/bubble-pointer.png" style="margin-top: -14px; margin-left: 300px; margin-bottom: -9px;"/> -->
					<img src="/img/nce-group-new.png" style="height: 180px; margin: 0 2em 0 0;"><img src="/img/pass_icon-left.png" style="height: 110px; margin: 0 0 0 0;"><img src="/img/ncmhce-group.png" style="height: 180px;margin: 0 0 0 2em;">
				<p style="font-size: 1.4em; line-height: 1.5em; color: #535353; font-weight: 300; margin-top: 0.1em;">
					Learn at your own pace! Exams may be taken multiple times for up to a full year. <br />Study guides are available as eBook for easy portability.
				</p>
				
			</div>
			
			
			<div id="picnce">
				<p class="oswald" style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #244883; margin-top: 0.29em;">National Counseling Examination</p>
				<img src="img/nce-group-new.png" style="height: 260px; padding: 24px 0;" />
				<h5 style="font-size: 2em; font-weight: 400; color: #535353; margin-bottom: 0.5em;margin-top: -0.2em;">Pass Your State Licensure Exam. Guaranteed!</h5>
			</div>

			<div id="picncmhce">
				<p class="oswald" style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #bc1425; margin-top: 0.29em;">National Clinical Mental Health Counseling Examination</p>
				<img src="/img/ncmhce-group.png" style="height: 260px; padding: 24px 0;" />
				<h5 style="font-size: 2em; font-weight: 400; color: #535353; margin-bottom: 0.5em;margin-top: -0.2em;">Pass Your State Licensure Exam. Guaranteed!</h5>
			</div>

			<div id="picceu">
				<p class="oswald" style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #41823e; margin-top: 0.29em;">Continuing Education Units</p>
				<img src="img/ceu-white.png" style="height: 308px;" />
				<h5 style="font-size: 2em; font-weight: 400; color: #535353; margin-bottom: 0.5em;margin-top: -0.2em;">Return for Continuing Education Credits, Yearly!</h5>
			</div>
			
			<div id="picguarantee">
				<h5 style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #213672;">
					Pass Your State Licensure Exam!
				</h5>
				<div style="min-height: 308px;">
				<img src="img/pass_icon-left.png" style="height: 200px; padding: 54px;" />
				<h5 style="font-size: 2em; font-weight: 400; color: #535353; margin-bottom: 1.15em; margin-top: -0.2em;">Pass Your Exam or Your Money Back! Guaranteed!</h5>
				</div>
			</div>
			
			<!-- <div id="picworkshops">
				<h5 style="font-size: 2.5em; font-weight: 400; line-height: 1em; color: #213672;">
					Dr Arthur Workshops
				</h5>
				<div style="min-height: 308px;">
				<img src="" style="height: 200px; padding: 54px;" />
				<h5 style="font-size: 2em; font-weight: 400; color: #535353; margin-bottom: 1.15em; margin-top: -0.2em;">Take a Workshop from Dr. Arthur Himself!!!</h5>
				</div> -->
			</div>
			
		</div>
	</div>
</div>

</div>

<div class="bar" style="text-align: center; display: block;">
	<a href="#picmain" id="mainbutton"><img src="img/welcome-white-90.png" id="mainbut" style="height: 88px; border-left: #ffffff 1px solid;" class="program-nav-main" /></a><a href="/nce" id="ncebutton" style="background-color: #ffffff"><img src="img/nce-white.png" id="ncebut" style="height: 70px; border-right: #ffffff 1px solid; border-left: #ffffff 1px solid;" class="program-nav-nce" /></a><a href="/ncmhce" id="ncmhcebutton"><img src="img/ncmhce-white.png" id="ncmhcebut" style="height: 70px; border-right: #ffffff 1px solid; border-left: transparent 0px solid;" class="program-nav-ncmhce" /></a><a href="/ceu" id="ceubutton"><img src="img/ceu-white.png" id="ceubut" style="height: 70px; border-right: #ffffff 1px solid; border-left: transparent 0px solid;" class="program-nav-ceu" /></a><a href="#picguarantee" id="guaranteebutton"><img src="img/guarantee-white-90.png" id="guaranteebut" style="height: 88px; border-right: #ffffff 1px solid;" class="program-nav-guarantee" /></a><!-- <a href="#picworkshops" id="workshopsbutton"><img src="img/workshops-white-90.png" id="workshopsbut" style="height: 88px; border-right: #ffffff 1px solid;" class="program-nav-workshops" /></a> -->
</div>

<div class="container">
<div class="center" style="margin: 1.5em 0 2em 0;">
	<p style="font-weight: 300; font-size: 1.2em; line-height: 1.5em;"><strong>Not sure which licensure exam you need to take?</strong><br />
		The NBCC web site has your state's specific licensure info.
	</p>
	<a class="btn btn-sm btn-primary" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
</div>

	
<script type="text/javascript">	
	$('#mainbutton').hover(
	    function() {
			 $('#picceu').hide();
			 $('#ceubut').css('background-color' , '#1c89de');
			 $('#picnce').hide();
			 $('#ncebut').css('background-color' , '#1c89de');
			 $('#picncmhce').hide();
			 $('#ncmhcebut').css('background-color' , '#1c89de');
			 $('#picguarantee').hide();
			 $('#guaranteebut').css('background-color' , '#1c89de');
			 $('#picworkshops').hide();
			 $('#workshopsbut').css('background-color' , '#1c89de');
			$('#mainbut').css('background-color' , '#6c4192');
	      $('#picmain').show();
	   }
	);
	$('#ncebutton').hover(
	    function() {
			 $('#picmain').hide();
			 $('#mainbut').css('background-color' , '#1c89de');
			 $('#picceu').hide();
			 $('#ceubut').css('background-color' , '#1c89de');
			 $('#picncmhce').hide();
			 $('#ncmhcebut').css('background-color' , '#1c89de');
			 $('#picguarantee').hide();
			 $('#guaranteebut').css('background-color' , '#1c89de');
			 $('#picworkshops').hide();
			 $('#workshopsbut').css('background-color' , '#1c89de');
			$('#ncebut').css('background-color' , '#244883');
			$('#picnce').show();
	    }
	);
	$('#ncmhcebutton').hover(
	    function() {
			 $('#picmain').hide();
			 $('#mainbut').css('background-color' , '#1c89de');
			 $('#picnce').hide();
			 $('#ncebut').css('background-color' , '#1c89de');
			 $('#picceu').hide();
			 $('#ceubut').css('background-color' , '#1c89de');
			 $('#picguarantee').hide();
			 $('#guaranteebut').css('background-color' , '#1c89de');
			 $('#picworkshops').hide();
			 $('#workshopsbut').css('background-color' , '#1c89de');
			 $('#ncmhcebut').css('background-color' , '#bc272e');
	       $('#picncmhce').show();
	    }
	);
	$('#ceubutton').hover(
	    function() {
			 $('#picmain').hide();
			 $('#mainbut').css('background-color' , '#1c89de');
			 $('#picnce').hide();
			 $('#ncebut').css('background-color' , '#1c89de');
			 $('#picncmhce').hide();
			 $('#ncmhcebut').css('background-color' , '#1c89de');
			 $('#picguarantee').hide();
			 $('#guaranteebut').css('background-color' , '#1c89de');
			 $('#picworkshops').hide();
			 $('#workshopsbut').css('background-color' , '#1c89de');
			 $('#ceubut').css('background-color' , '#008d23');
			 $('#picceu').show();
	    }
	);
	$('#guaranteebutton').hover(
	    function() {
			 $('#picmain').hide();
			 $('#mainbut').css('background-color' , '#1c89de');
			 $('#picnce').hide();
			 $('#ncebut').css('background-color' , '#1c89de');
			 $('#picncmhce').hide();
			 $('#ncmhcebut').css('background-color' , '#1c89de');
			 $('#picceu').hide();
			 $('#ceubut').css('background-color' , '#1c89de');
			 $('#picworkshops').hide();
			 $('#workshopsbut').css('background-color' , '#1c89de');
			 $('#guaranteebut').css('background-color' , '#6c4192');
			 $('#picguarantee').show();
	    }
	);
	// $('#workshopsbutton').hover(
// 	    function() {
// 			 $('#picmain').hide();
// 			 $('#mainbut').css('background-color' , '#1c89de');
// 			 $('#picnce').hide();
// 			 $('#ncebut').css('background-color' , '#1c89de');
// 			 $('#picncmhce').hide();
// 			 $('#ncmhcebut').css('background-color' , '#1c89de');
// 			 $('#picceu').hide();
// 			 $('#ceubut').css('background-color' , '#1c89de');
// 			 $('#picguarantee').hide();
// 			 $('#guaranteebut').css('background-color' , '#1c89de');
// 			 $('#workshopsbut').css('background-color' , '#3a3a3a');
// 			 $('#picworkshops').show();
// 	    }
// 	);
</script>