<div class="row center">
	<div class="span12">
		<!-- <p class="oswald" style="font-family: 'Oswald', sans-serif; font-size: 4em; color: #e20612; font-weight: 400; line-height: 1em;">Prepare for your Future</p> -->
		<img src="img/main-header-script.png" style="margin-top: 0.3em;">
		<p class="oswald" style="font-family: 'Oswald', sans-serif; font-size: 3em; color: #063d4c; font-weight: 400; line-height: 1em; margin-top: 0.1em;">
			Dr. Arthur&rsquo;s Study Programs for the NCMHCE and NCE
		</p>
	</div>
</div>


<!-- ----------  Main Image  --------- -->

<div class="row">
	<div class="span5 offset1" style="margin-top: 2em;">
		<img src="img/main-group.png" width="640px" style="padding-bottom: 0.4em;">
	</div>

	<div class="span5" style="margin-top: 2.5em; padding-left: 2.5em;">
		<!-- <p style="font-size: 1.7em; font-weight: 300; color: #535353; line-height: 1.4em;">
			NCMHCE uses both tutorial & actual exam formatted scenarios to properly prepare you for success!
		</p> -->
		<p style="font-size: 1.3em; font-weight: 300; color: #535353; line-height: 1.4em; padding-right: 1.1em;">
		Dr. Arthur's Study programs remain the most trusted tools in the field, designed to provide the most comprehensive material available! Guaranteed! Prepare using our tutorial scenarios and practice using our exam scenarios. Consult directly with the co-author included in your study package! 
		</p>
	</div>
</div>

</div>
	<div class="row" style="margin-top: 1.2em;">
		<div class="center">
			<p class="oswald" style="font-weight: 400; font-size: 2em; color: #ffffff; background-color: #e20612;  padding-top: 14px; padding-bottom: 16px;">PASS YOUR STATE LICENSURE EXAM! &nbsp; GUARANTEED! &nbsp; 95% PASS RATE</p>
		</div>
	</div>
	<div class="container">
		<div class="pull-right" style="margin-top: -5.5em; margin-right: 4%;">
			<img src="/img/pass_icon.png" style="width: 113px;">
		</div>
	</div>


<div class="container">	
<div class="row">	
	
		<div class="span10 offset1 center" style="margin-bottom: 1em;">
			<h1 class="oswald" style="font-size: 2.6em; color: #063d4c;"><img style="height: 50px; margin-top: -9px; opacity: 0.3;" src="img/check-box.png"/> &nbsp;You Can Try a Sample NCMHCE Scenario for FREE.</h1> 
			<p style="font-size: 1.3em; font-weight: 300;">&nbsp;&nbsp;See how the NCMHCE Scenario Simulator works. No registration required.</p>
			<p>This is a <strong>sample tutorial scenario</strong> that shows all selected questions and answers when scenario has been completed. <br />The <strong>practice scenarios</strong> simulate the actual exam and give no feedback.</p>
			 <a href="/ncmhce/sample" class="btn btn-large btn-success" style="margin: 10px 0 28px 0;">Try Free Sample Scenario Now</a>
		</div>
	</div>
</div>	

<!-- </div>

<div style="margin-bottom: 0em; background-color: #d8e6f2; padding-top: 2em; padding-bottom: 2em;"> -->
<div class="container">	
	<div class="row">
		<div class="span6">
			<h1 style="font-size: 2.2em; color: #063d4c;">How the NCMHCE Scenario Simulator Works</h1>
			<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">You get two different scenario types - tutorial & actual exam formatted practice scenarios.</p>
				<p style="line-height: 1.5em;">First, learn using tutorial-based scenarios that provide feedback for each answer you select - right or wrong. This better helps you understand how to properly prepare for the NCMHCE. Then, practice using the exam-based scenarios to simulate taking the actual exam.</p>
		</div>
		<div class="span6">
			<h1 style="font-size: 2.2em; color: #063d4c;">Taking the NCE?</h1>
			<p style="font-size: 1.4em; font-weight: 300; line-height: 1.3em;">The NCE Study Guide along with the online practice exams are the tool of choice for passing the NCE!</p>
			<p style="line-height: 1.5em;">Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE.</p>
		</div>
		<!-- <div class="span6">
			<h1 class="oswald" style="font-size: 2em; color: #063d4c;"><span style="color: #e10512;">1.</span> Learn with Tutorial Scenarios</h1>
			<p>hgjhgv</p>
		</div>
		<div class="span6">
			<h1 class="oswald" style="font-size: 2em; color: #063d4c;"><span style="color: #e10512;">2.</span> Test with Actual Exam Formatted Scenarios</h1>
			<p>hgjhgv</p>
		</div> -->
			
	</div>
<!-- </div>

</div> -->

<!-- <div class="row">
	<div class="container">
		<div class="span10 offset1 center" style="margin-bottom: 1em;">
			<h1 class="oswald" style="font-size: 2.6em; color: #063d4c;">New info Here</h1>
			<p style="font-size: 1.3em; font-weight: 300;">Are you stressed out over your looming NCMHCE? Not sure which study program to purchase? Perhaps you are thinking you don’t even need to study for the NCMHCE because you did well in grad school and have always done well on your tests. The NCMHCE is unlike any test you have probably ever taken before and about 40% of test-takers fail their initial exam. But you don’t have to be anxious and lose sleep over your upcoming exam! Our study package includes two different types of practice scenarios that will take away your anxiety, properly prepare you for the exam, and you can go into your exam feeling confident! First practice using our tutorial-based scenarios so you learn WHY your selections are good or bad selections. You don’t have to take hundreds of practice scenarios to properly prepare; just learn HOW to take them and save time. Then, for those with more anxiety, practice using our exam-based scenarios so you get used to progressing through the exam with the much more limited responses. Use our NCMHCE Study Supplement to enhance the areas of the DSM5 you are unsure of and tie everything together with a personal consultation with the co-author, Dr. Gary Arthur. We know our system works because our customer pass rate is 95%! Use our study program and come out saying what our customer Kimberly said, “Dr. Arthur's online simulations were INVALUABLE tools to help orient me to the exam. I completed the exam in just under an hour (10 simulations) and remember thinking to myself as I was taking it, "Piece of cake. I've got this!"

Taking the NCE? Dr. Arthur was approached to write a study guide for this exam years ago and has been updating and teaching from his NCE Study Guide ever since. It covers all eight CACREP topics plus supervision, ethics, and all other topics needed to properly prepare and pass the NCE. He loves helping people pass their exam!</p>
			 <br /><br /><br /><br />
		</div>
	</div>
</div> -->	

</div></div>


<!-- ----------  Main Product  --------- -->

<!-- <div class="row home-spac">
	<div class="container">
	<div class="span5 offset1 center">
		<div class="product-field visible-desktop">
			<p id="ncmhce-text" class="welcome-header visible-desktop" style="padding: 0.65em 1em 0 1em;">National Clinical Mental Health <br class="visible-desktop" />Counseling Examination</p>
		</div>
		<div class="product-field-phone hidden-desktop">
			<p id="ncmhce-text" class="welcome-header" style="font-size: 1.4em; padding: 0.5em 0.5em 0 0.5em;">National Clinical Mental Health Counseling Examination</p>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>37 Online Scenarios</strong></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Supplement Online <br /><small>Also available in hard copy</small></li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online <br />scenarios for one year</li>
				<li><span class="label label-important">NEW</span> &nbsp;Flash Card Study Module</li>
				<li><a class="btn btn-success btn-large" href="/ncmhce" style="margin-bottom: -9px; width: 85%; font-weight: bold;">Let's Get Started...</a></li>
			</ul>
		</div>
	</div>

	<div class="span5 center">
		<div class="product-field visible-desktop">
			<p class="welcome-header visible-desktop" style="padding: 0.65em 1em 0 1em;">National Counselor <br />Examination</p>
		</div>
		<div class="product-field-phone hidden-desktop">
			<p class="welcome-header hidden-desktop" style="font-size: 1.4em; padding: 1em 1em 0 1em;">National Counselor <br />Examination</p>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>4 Online Practice Exams</strong></li>
				<li><span class="label label-important">NEW</span> &nbsp;Study Guide Online <br /><small>Also available in hard copy</small></li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online <br />exams for one year</li>
				<li><span class="label label-important">NEW</span> &nbsp;Flash Card Study Module</li>
				<li><a class="btn btn-success btn-large" href="/nce" style="margin-bottom: -9px; width: 85%; font-weight: bold;">Let's Get Started...</a></li>
			</ul>
		</div>
		<br /><br />
	</div> -->


	
	
<div class="container" style="margin-top: 4em;">
	
	<div class="row" style="margin-bottom: 4em;">
	<div class="span4 center">
		<div class="well well-sm">
			<img src="img/ncmhce-badge.png">
			<a class="btn btn-success btn-large" href="/ncmhce" style="margin-top: 14px; width: 85%; font-weight: bold;">Let's Get Started...</a>
		</div>
	</div>
	<div class="span4 center">
			<h1 style="font-size: 1.9em; color: #063d4c;">Not sure which licensure exam <br />you need to take?</h1>
			<p>The NBCC web site has your state's <br />specific licensure info.</p>
			<a class="btn btn btn-info" href="http://nbcc.org/directory" target="_blank">CHECK MY STATE</a>
	</div>
	<div class="span4 center">
		<div class="well well-sm">
			<img src="img/nce-badge.png">
			<a class="btn btn-success btn-large" href="/nce" style="margin-top: 14px; width: 85%; font-weight: bold;">Let's Get Started...</a>
		</div>
	</div>
</div>

</div>



<div style="margin-bottom: 0em; background-color: #d8e6f2; padding-top: 2em; padding-bottom: 2em;">
		<div class="container">
			<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
	<h1 style="text-align: center; margin-bottom: 0.6em; font-size: 2.6em; color: #063d4c;"><img style="height: 40px; opacity: 0.3;" src="img/quote-open.png"/> &nbsp;What Our Users Are Saying</h1>
	<div class="span6">
		<blockquote style="border-color: white;">
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCMHCE! I am writing to thank you because I credit the Arthur-Brende Study Program for my success. Had I not purchased your program I don't think the outcome would be the same. It was my first time sitting for the exam and I'm so grateful to have passed on the first try.
			</p>
			<small>Tia C.</small>
		</blockquote>
	</div>
	<div class="span6">
		<blockquote style="border-color: white;">
			<p>
				<img style="height: 18px; opacity: 0.6;" src="img/quote-open.png"/> &nbsp;I passed the NCE with a score of 139 out of 160. I only needed a 90 to pass. I used your e-study guide and online exams with two other study resources, and your materials were by far the most helpful and comprehensive. I can safely say I was well-prepared, and I will highly recommend your program to others.
			</p>
			<small>Danielle R.</small>
		</blockquote>
	</div>
	</div>
	</div>
</div>

		<div class="container" style="margin-top: 4em; margin-bottom: 4em;">
			<div class="row">
				<div class="span2 center">
				<img src="/img/pass_icon-left.png" style="width: 113px; margin-bottom: 12px;"><br />
				<a class="btn btn btn-info" href="/faq">Get Details</a>
			</div>
				
			<div class="span5">
	<h1 style="font-size: 2.6em; color: #063d4c;">SATISFACTION GUARANTEE</h1>
	
			<p>SATISFACTION GUARANTEE We guarantee you will love our study programs or we will refund the cost of your materials. That’s right, you can actually order your materials and review everything for a full three days. (Limitations apply towards actually taking the exams.) If the material is not what you expected, return it for a full refund (minus any shipping charges incurred.)</p>
			</div>
		<div class="span5">
<h1 style="font-size: 2.6em; color: #063d4c;">MONEY BACK PASS GUARANTEE</h1>
<p>We also back our program with our Money-Back Pass Guarantee. No other product offers you a money-back pass guarantee. If you are among our 5% of customers who do not successfully pass their exam, we give you the option to either get your money back or receive additional assistance if you choose to keep our materials. Your choice.</p>
</div>
</div>

<!-- <div class="container"> -->

<!-- ----------  Secondary Product  --------- -->

<!-- <div class="row" style="margin-top: 1.8em; margin-bottom: 1em;">
	<div class="span10 offset1 center" style="margin-bottom: 1em;">
		<h1 class="oswald" style="font-size: 2.6em; color: #063d4c;">Need More Study Materials?</h1>
		<p style="font-size: 1.3em; font-weight: 300; line-height: 1.5em;">Preparation for your licensure exam can be a stressful and time consuming. It's natural to be concerned so we provide these additional materials to increase your confidence. Each can be purchased at a later time.</p>
	</div>
	<div class="span6">
		<div style="padding: 2em;">
		<div class="media">

			  <img src="/img/practice.png" style="width: 64px;" class="media-object img-circle pull-left" data-src="holder.js/64x64">

		  <div class="media-body">
			  <p class="media-heading" style="line-height:1.1em; color: #063d4c;">NCMHCE Online Practice Scenarios</p>
				<p>Practice scenarios provide more realistic exam situations. They are designed to simulate and better prepare you for the actual exam. Available for $30 with your NCMHCE Package.</p>
			</div>
		</div>
		</div>
	</div>
	<div class="span6">
		<div style="padding: 2em;">
		<div class="media">

			  <img src="/img/ncmhce-binder-small.png" style="width: 64px;" class="media-object pull-left" data-src="holder.js/64x64">

		  <div class="media-body">
			  <p class="media-heading" style="color: #063d4c; line-height:1.1em;">NCMHCE Study Supplement</p>
			<p>NCMHCE Study Supplement is available in Hard Copy for $45 with your NCMHCE Package. It's the same as the online version which is included with your NCMHCE package.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 3em;">
	<div class="span6">
		<div style="padding: 2em;">
		<div class="media">

				<img src="/img/flashcard.png" style="width: 64px;" class="media-object img-circle pull-left" data-src="holder.js/64x64">

			<div class="media-body">
				<p class="media-heading" style="color: #063d4c; line-height:1.1em;">Flash Card Study Module</p>
				<p>Flash cards help reinforce learning. They cover all categories of the study materials for both NCE and NCMHCE study programs. Available for $20 with your NCMHCE or NCE Package.</p>
				<p><a class="btn btn-small" href="#">More Info</a></p> -->
			  
<!-- <div class="row" style="margin-bottom: 1em;">
	<div class="span6">
		<div class="well">
		<div class="media">

			  <img src="/img/pass_icon-left.png" style="width: 64px;" class="media-object img-circle pull-left" data-src="holder.js/64x64">

		  <div class="media-body">
			  <p class="media-heading" style="color: #535353; padding:">Money Back Pass Guarantee</p>
			<p><strong>Satisfaction Guaranteed!</strong> We offers a money back pass guarantee. Pass your exam or we will refund your money.</p>
			</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="well">
		<div class="media">

			  <img src="/img/gary-64.gif" class="media-object img-circle pull-left" data-src="holder.js/64x64">

		  <div class="media-body">
			  <p class="media-heading" style="color: #535353; padding:">Dr. Arthur's Workshops</p>
			  <p><strong>Dr. Arthur presents both NCE and NCMHCE workshops.</strong> Visit <a href="http://www.arthurnceworkshop.com/" target="_blank">Dr. Arthur's Workshops</a> to get more information or to register for a workshop.</p>
			</div>
		</div>
		</div>
	</div>
</div> -->


	<a href="#top" style="position: fixed; bottom:7%;right: 0;" class="visible-phone"><img src="/img/up-pointer-side.svg" /></a>
