<div class="row visible-desktop" style="margin-top: 1em; margin-bottom: 2em;">
	<div class="span8 offset2 center">
		<p class="oswald" style="font-size: 3.7em; color: #535353; font-weight: 400; line-height: 1.1em; margin-top: 0.2em;">
			Arthur Study Programs
		</p>
		<p style="font-weight: 400; font-size: 1.4em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
	<div class="span2">
		<img src="/img/pass_icon.png" style="width: 113px;">
	</div>
</div>

<div class="row visible-tablet" style="margin-top: -2em; margin-bottom: 2em;">
	<div class="span8 offset2 center">
		<p class="oswald" style="font-size: 3em; color: #535353; font-weight: 400; line-height: 1.1em; margin-top: 0.2em;">
			Arthur Study Programs
		</p>
		<p style="font-weight: 400; font-size: 1.2em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
	<div class="span2">
		<img src="/img/pass_icon.png" style="width: 85px;">
	</div>
</div>

<div class="row visible-phone" style="margin-top: -2em; margin-bottom: 0.85em;">
	<div class="span12 center">
		<p class="oswald" style="font-size: 2em; color: #535353; font-weight: 400; line-height: 1.1em; margin-top: 0.2em;">
			Arthur Study Programs
		</p>
		<p style="font-weight: 400; font-size: 1em;">PASS YOUR STATE LICENSURE EXAM! &nbsp;GUARANTEED!</p>
	</div>
	<div class="span12 center">
		<img src="/img/pass_icon.png" style="width: 70px;">
	</div>
</div>

<!-- ----------  Main Image  --------- -->

<div class="row">
	<div class="center hidden-phone" style="margin-bottom: 8em;">
		<img src="img/main-group.png" style="width: 90%; padding-bottom: 1em;">
			<p style="font-size: 1.3em; font-weight: 300; color: #535353; line-height: 1.4em;">Dr. Arthur's Study programs remain the most trusted tools in the field, <br />
		designed to provide the most comprehensive material available! Guaranteed!</p>
	</div>
	<div class="center visible-phone" style="margin-bottom: 3em;">
		<img src="img/main-group.png" style="width: 90%; padding-bottom: 1em;">
			<p style="font-size: 1.2em; font-weight: 300; color: #535353; line-height: 1.4em;">Dr. Arthur's Study programs remain the most trusted tools in the field, designed to provide the most comprehensive material available! Guaranteed!</p>
	</div>
</div>

<!-- ----------  Main Product  --------- -->

<div class="row" style="margin-bottom: 9em;">
	<div class="span4 center">
		<div class="product-field visible-desktop">
			<!-- <img src="img/nce-white.png" style="height: 80px;  padding-top: 1.5em;"/> -->
			<p class="welcome-header visible-desktop" style="padding: 1em 1em 0 1em;">National Counselor <br />Examination</p>
		</div>
		<div class="product-field-phone hidden-desktop">
			<!-- <img src="img/nce-white.png" style="height: 80px;  padding-top: 1.5em;"/> -->
			<p class="welcome-header hidden-desktop" style="font-size: 1.4em; padding: 1em 1em 0 1em;">National Counselor <br />Examination</p>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>4 Online Practice Exams</strong></li>
				<li>Study Guide eBook</li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online exams for one year</li>
				<li><a class="btn btn-primary" href="/nce" style="margin-bottom: -9px;">Get more info...</a></li>
			</ul>
		</div>
		<br class="visible-phone" /><br class="visible-phone" />
	</div>
	
	<div class="span4 center">
		<div class="product-field visible-desktop">
			<!-- <img id="ncmhce-badge" src="img/ncmhce-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<p id="ncmhce-text" class="welcome-header visible-desktop" style="padding: 0.5em 1em 0 1em;">National Clinical Mental <br class="visible-desktop" />Health Counseling <br class="visible-desktop" />Examination</p>
		</div>
		<div class="product-field-phone hidden-desktop">
			<!-- <img id="ncmhce-badge" src="img/ncmhce-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<p id="ncmhce-text" class="welcome-header" style="font-size: 1.4em; padding: 0.5em 0.5em 0 0.5em;">National Clinical Mental Health Counseling Examination</p>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>36 Online Scenarios</strong></li>
				<li>Study Supplement eBook</li>
				<li>Consultation with <br class="visible-tablet" />Dr. Arthur <br class="visible-desktop" />for up to 30 minutes</li>
				<li>Pass Guarantee</li>
				<li>Receive unlimited access to online scenarios for one year</li>
				<li><a class="btn btn-primary" href="/ncmhce" style="margin-bottom: -9px;">Get more info...</a></li>
			</ul>
		</div>
		<br class="visible-phone" /><br class="visible-phone" />
	</div>
	<div class="span4 center">
		<div class="product-field visible-desktop">
			<!-- <img src="img/ceu-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<p class="welcome-header" style="padding: 1em 1em 0 1em;">Continuing Education <br />Units</p>
		</div>
		<div class="product-field-phone hidden-desktop">
			<!-- <img src="img/ceu-white.png" style="height: 80px; padding-top: 1.5em;"/> -->
			<p class="welcome-header" style="font-size: 1.4em; padding: 1em 0.5em 0 0.5em;">Continuing Education Units</p>
		</div>
		<div class="price-field">
			<ul>
				<li><strong>14 Online Scenarios</strong></li>
				<li>Qualify for one CEU credit <br class="visible-desktop" />per scenario</li>
				<li>NBCC Approved</li>
				<li>Receive unlimited access to online scenario for 30 days</li>
				<li>Download certificate PDF</li>
				<li><a class="btn btn-primary" href="/ceu" style="margin-bottom: -9px;">Get more info...</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- ----------  Secondary Product  --------- -->

<div class="row" style="margin-top: 5em; margin-bottom: 4em;">
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/practice.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <p class="media-heading" style="color: #535353;">NCMHCE Online Practice Scenarios</p>
			<p>Practice scenarios provide more realistic exam situations. They are designed to simulate and better prepare you for the actual exam.</p>
			<!-- <p><a class="btn btn-small" href="#">More Info</a></p> -->
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="media">
			<a class="pull-left" href="#">
				<img src="/img/flashcard.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
			</a>
			<div class="media-body">
				<p class="media-heading" style="color: #535353;">Flash Card Study Module</p>
				<p><strong>Flash cards help reinforce learning.</strong> They cover all categories of the study materials for both NCE and NCMHCE study programs.</p>
				<!-- <p><a class="btn btn-small" href="#">More Info</a></p> -->
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-bottom: 4em;">
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/ncmhce-binder-small.png" style="width: 64px;" class="media-object" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <p class="media-heading" style="color: #535353;">NCMHCE Study Supplement</p>
			<p><strong>NCMHCE Study Supplement is also available in Hard Copy for Free.</strong> Just pay shipping and handling. It's the same as the eBook version.</p>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/nce-binder-small.png" style="width: 64px;" class="media-object" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <p class="media-heading" style="color: #535353;">NCE Study Guide</p>
			  <p><strong>NCE Study Guide is also available in Hard Copy for Free.</strong> Just pay shipping and handling. It's the same as the eBook version.</p>
			</div>
		</div>
	</div>
</div>	
<div class="row" style="margin-bottom: 8em;">
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/pass_icon-left.png" style="width: 64px;" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <p class="media-heading" style="color: #535353;">Money Back Pass Guarantee</p>
			<p><strong>Satisfaction Guaranteed!</strong> CTC offers a money back pass guarantee. Pass your exam or CTC will refund your money.</p>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="media">
		  <a class="pull-left" href="#">
			  <img src="/img/gary-64.gif" class="media-object img-circle" data-src="holder.js/64x64">
		  </a>
		  <div class="media-body">
			  <p class="media-heading" style="color: #535353;">Dr. Arthur's Workshops</p>
			  <p><strong>Dr. Arthur presents both NCE and NCMHCE workshops.</strong> Visit <a href="http://www.arthurnceworkshop.com/" target="_blank">Dr. Arthur's Workshops</a> to get more information or to register for a workshop.</p>
			</div>
		</div>
	</div>
</div>


<!-- ----------  State Select  --------- -->

<hr />
<div class="center">
	<p style="font-weight: 400; line-height: 1.6em;"><span class="oswald blue-color" style="font-size: 1.7em;">Not sure which licensure exam you need to take?</span><br />
		The NBCC web site has your state's specific licensure info.<br />
		<a class="btn btn-small btn-primary" href="http://nbcc.org/directory" target="_blank" style="margin-top: 1em;">CHECK MY STATE</a>
	</p>
	<br />
</div>

	
