<div class="row">
	<div class="span12 faq">
		<h1>Frequently Asked Questions</h1>
	</div>
</div>
<br /><br />

<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#ncmhce" data-toggle="pill"><h3>NCMHCE Questions</h3></a></li>
	<li><a href="#nce" data-toggle="pill"><h3>NCE Questions</h3></a></li>
</ul>
<div id="myTabContent" class="tab-content active">
<div class="tab-pane active" id="ncmhce">
	<h2>NCMHCE Questions</h2><br />
	<div class="row">
		<div class="span6">

		<h2>Ordering Questions</h2>
		
		<h4>Can I place my order or ask questions by phone?</h4>
		<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5 PM EST.</p>
		
		<h4>How often is the Study Supplement updated?</h4>
		<p>The Study Supplement is constantly monitored for updating based on curriculum changes, changes to the NCMHCE, and feedback from students. When new material becomes known, it is added to the Study Supplement. Frequently this is done once or twice a year.</p>

		<h4>How soon will the Study Supplement hard copy arrive after I purchase it?</h4>
		<p>For those who purchase the NCMHCE using a credit card, we ship the next business day after the card is successfully processed. CTC also accepts payment by check or money order, though this can delay the shipping process. All shipments are by FedEx Ground service. Your Study Supplement will be shipped from the Atlanta, Georgia area. Expedited shipping is available for an additional charge.</p>

		<h4>Am I able to use the scenarios multiple times?</h4>
		<p>Absolutely! Once you purchase access to the online Scenario Simulator, you are free to take each scenario as many times as you like during your one year timeframe.</p>

		<h4>Can I purchase just the manual or just the online scenarios?</h4>
		<p>We do not sell the NCMHCE Study Supplement without the online scenarios. The online scenarios are meant to be used together with the Study Supplement. Dr. Arthur feels both are needed to properly prepare for the licensure exam.</p>

	</div>
	<div class="span6">
		<h2>User Questions</h2>
		
		<h4>How long can I access the online scenarios or exams?</h4>
		<p>Your login information will be good for one year from the date of your purchase.</p>
		
		<h4>May I change my password?</h4>
		<p>Yes. Once you have successfully entered your account, you may go to Profile and change your password.</p>
		

		<h4>What is considered a passing score on the scenarios?</h4>
		<p>The Arthur-Brende Scenario Simulator is set up to emulate the nbcc exam; however, we are not directly affiliated with the National Board for Certified Counselors, Inc. (NBCC) who administers the NCMHCE. Therefore, we do not know the actual pass/fail criteria used for the NCMHCE. The NBCC's information about NCMHCE scoring can be found at <a href="http://www.nbcc.org/ncmhce#ncmhcescore">nbcc.org</a>.</p>

		<p>The Scenario Simulator emulates the actual NCMHCE scenarios using an Exam Format that measures separately your "information gathering" and "decision making" abilities. Anecdotal feedback from many customers shows that the Arthur-Brende Scenarios are more difficult than the actual scenarios of the NCMHCE, so that if you do well on our scenarios, you should do well on the exam. Our guidance is to not be too concerned with your Arthur-Brende Scenario scores themselves. Instead, we recommend that you use the practice scenarios to become comfortable with the exam format and to understand the types of DSM-IV related questions that are typical of the NCMHCE. If your scores are at or above the "Average Overall" scores of other users, then that is more meaningful than the actual score itself.</p>

		<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 95%. Many customers call or write to us of their success. We'd love to hear your feedback as well!</p>

		<h4>I am unclear as to which of my answers were correct or incorrect?</h4>
		<p>Once you complete a scenario, you can get your scores by clicking on the "get your scores" link at the bottom of the page. This will take you to the answer page. At the top of the answer page, you will get your score as a percentage. You also will see your Information Gathering Score, Decision Making Score, Overall Score, and Average Overall Score. The Average Overall Score is the score of all the other users to date and thus is a good gauge for your success in completing each scenario.</p>

		<p>Further down the page, each question is listed with all available options shown. Each option shows a point value in parentheses in front of the question option and it is also shown in green, red, blue, or black. The color coding is as follows:</p>

		<p>If you chose the question and it was an appropriate question to ask for that situation, the answer appears in <span style="color: #00ff00;">green</span>.</p>

		<p>If you chose the question and it was an inappropriate question to ask for that situation, the answer appears in <span style="color: red;">red</span>.</p>

		<p>If you chose the question but the question held no point value (neither appropriate nor inappropriate), the answer appears in <span style="color: blue;">blue</span>.</p>

		<p>If you did not choose the question, the answer appears in black.</p>

		<h4>What do I do to get my money back for not passing?</h4>
		<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of receiving your score to our office: Career Training Concepts, Inc., ATTN: Deb Storm, 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. Please make sure to include your mailing address where you would like your check mailed.</p>

		</div>
	</div>

</div>
<div class="tab-pane fade" id="nce">
	<h2>NCE Questions</h2><br />
	<div class="row">
	<div class="span6">

		
		
		<h4>Can I place my order or ask questions by phone?</h4>
		<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5 PM EST.</p>
		
		<h4>How long can I access the online scenarios or exams?</h4>
		<p>Your login information will be good for one year from the date of your purchase.</p>
		
		<h4>May I change my password?</h4>
		<p>Yes. Once you have successfully entered your account, you may go to Profile and change your password.</p>

		<h4>What are Dr. Arthur's qualifications?</h4>
		<p>Dr. Arthur received his Ed.D. degree in Counseling from Auburn University. He is a Professor Emeritus of Professional Counseling, having taught for over 34 years with Georgia State University. He has served as the Coordinator of the Professional Counseling Program at Georgia State University as well as the Coordinator of the Practicum/Internship Program. In addition, he has taught over 100 two-day NCE Prep seminars using his Study Guide. Recently he was awarded Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia.</p>

		<h4>How often is the Study Guide updated?</h4>
		<p>The Study Guide is constantly monitored for updating based on curriculum changes, changes to the NCE, and feedback from students. When new material becomes known, it is added to the Study Guide. Frequently this is done at least once or twice a year.</p>

		<h4>How soon will the Study Guide arrive after I purchase it?</h4>
		<p>For those who purchase the Study Guide hard copy by credit card, we ship the next business day after the card is successfully processed. CTC also accepts payment by check or money order, though this can delay the shipping process.</p> 

		<p>All shipments are by FedEx Ground service. Your Study Guide will be shipped from the Atlanta, GA area. Expedited shipping is available for an additional charge.</p>
		
		<h4>Do I get my money back if I do not pass?</h4>
		<p>We do have a Money Back Pass Guarantee policy (see NCE page).</p>
		
	</div>
	<div class="span6">

		<h4>What is the NCE pass rate for those who purchase the Study Guide?</h4>
		<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 97%. Clearly those using the Dr. Arthur Study Guide to prepare perform above the national pass rate (72%) for the NCE. Many customers call or write to us of their success. We'd love to hear your feedback as well!</p> 

		<p>Email to: mail@counselorexams.com</p>

		<h4>Does Dr. Arthur offer live preparatory seminars as well?</h4>
		<p>Yes - Dr. Arthur has conducted over 100 two-day seminars designed to provide you with in-person instruction that will help you pass the NCE. The seminars are held a few times a year, usually in the Southeast region. For more information or to make reservation, visit Dr. Arthur's site at <a href="http://arthurnceworkshop.com">arthurnceworkshop.com</a>.</p>

		<h4>Is Dr. Arthur's Study Guide enough, or do I need additional textbooks to study?</h4>
		<p>The answer depends on how familiar you with the material in the Study Guide. Feedback from customers indicates that for recent graduates, the Study Guide is a sufficient resource that is both comprehensive in scope, while also concise in covering likely concepts that will be covered on the NCE. </p>

		<p>If you have been out of your program of study 5-10 years, additional material may be helpful. Just be careful not to overwhelm yourself with too much material.</p>

		<h4>What is the best way to use Dr. Arthur's Study Guide to study for the NCE?</h4>
		<p>We recommend completing the Pre-Assessment Exam in the Study Guide first to help you evaluate your strengths and weaknesses, and then, based on those results, decide what other material might be helpful. It is smart to prioritize your study time by focusing on terms, names, and ethics. Other suggestions:</p>
			<ul>
				<li>Locate a study partner.</li>
				<li>Attend a live preparatory seminar.</li>
				<li>Take one chapter to work with you.</li>
				<li>Take the Practice Examinations. They are built like the NCE. Frequently, manual purchasers provide me feedback which indicates that the pre-assessment examination and the Practice Examinations are more difficult than the actual NCE, so if you pass those, you should do well.</li>
			</ul>
		</p>
		
		


	</div>
</div>
</div>

</div>






