<script src="https://js.stripe.com/v1/"></script>
<%= coffee 'marketing' %>

<div class="row product-banner">
	<div class="span4">
		<br />
		<p><img src="/img/nce-large.png" /></p>
		<p>
			<form class="form-inline">
				<hr />
				<p style="text-align: center;">
					<a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 86%;">BUY NOW!</a>
				</p>
				<p style="text-align: center;"><small>For shipping outside the continental US,<br />please order by phone at +1-888-326-9229.</small></p>
			</form>
		</p>
	</div>
	<div class="span8">
		<p><img src="/img/nce-group-wide.png" /></p>
	</div>
	<div class="span12">
		<br />
		<p class="lead">We are very proud that 97% of our customers passed their exam in 2011!<sup>1</sup></p>
	</div>
</div>

<div class="modal fade" id="checkout" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Dr. Arthur&#39;s NCE Study Guide</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" action="" method="POST" id="payment-form">
			<fieldset class="package">
				<legend>Program Package Options - Select One</legend>
				<div class="row">
					<br />
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="enhanced-package" value="enhanced-package" /> Enhanced Package <strong>$229</strong>
								<br />
								<em>Save $20!</em>
								<ul class="package-features">
									<li>Online Pre-Assessment Exam</li>
									<li>3 Online Practice Exams</li>
									<li>Study Guide eBook</li>
								</ul>
							</label>
						</p>
					</div>
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="basic-package" value="basic-package" /> Basic Package <strong>$189</strong>
								<ul class="package-features">
									<li>Online Pre-Assessment Exam</li>
									<li>1 Online Practice Exams</li>
									<li>Study Guide eBook</li>
								</ul>
								<p style="padding-left: 1em;"><small>(2 additional online practice exams<br />can be purchased later for $60.)</small></p>
							</label>
						</p>
					</div>
					<br />
				</div>
			</fieldset>
			<fieldset class="package">
				<legend>Optional Enhancements</legend>
				<br />
				<p style="padding-left: 1em;">
					<label class="checkbox">
						<input type="checkbox" name="optional" id="nce-hard-copy" /> Study Guide Hard Copy <strong>$12.95 shipping</strong>
						<br />
						<small>Same study guide as the eBook</small>
					</label>
				</p>
			</fieldset>
			<%= erb :'marketing/form', layout: false %>
		</form>

	</div>
	<div class="modal-footer">
		<div class="pagination pagination-left" style="float: left; margin: 0;">
			<ul>
				<li class="active">
					<a href="#" id="package">1. Package</a>
				</li>
				<li><a href="#" id="account">2. Account</a></li>
				<li><a href="#" id="credit-card">3. Credit Card</a></li>
			</ul>
		</div>
		<strong style="vertical-align: middle;">$<span id='total-display'></span></strong>
		&nbsp;
		<input type="submit" class="btn btn-success btn-large submit-button disabled" value="Checkout" disabled style="font-weight: bold;" />
	</div>
</div>


		
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span4">
						<div class="grid-ground">
							<center><h3>Basic Package</h3></center>
							<div class="price-ground">
							<h2>$189</h2>
							</div>
							<ul>
								<li>Study Guide eBook</li>
								<li>Pre-assessment Exam</li>
								<li>1 Practice Exams</li>
							</ul>
							<p>2 aditional practice exams can be purchased later for $60</p>
						</div>
					</div>
					<div class="span4">
						<div class="grid-ground">
							<center><h3>Enhanced Package</h3></center>
							<div class="price-ground">
								<h2>$229</h2>
							</div>
							<ul>
								<li>Study Guide eBook</li>
								<li>Pre-assessment Exam</li>
								<li>3 Practice Exams</li>
							</ul>
							<center><h3>Save $20</h3></center><br />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<div class="grid-ground">
							<center><h4>Get the <span style="color: green;">Study Guide Hard Copy</span> same as the eBook for <span style="color: green;">$12.95 shipping</span></h4></center>
					
						</div>
					</div>
				</div>
			</div>
			
			<div class="span4">
				<center><h3>View a Sample Chapter</h3></center><br />
				<center><a href="#" class="btn btn-primary btn-large">View Sample</a></center>
				<hr />
				<center><h3>Buy with confidence</h3></center>
				<center><h2>Badge goes here</h2></center>
				<hr />
				<h5>Can I place my order or ask questions by phone?</h5>

				<p>Absolutely! Call Career Training Concepts toll free at 888-326-9229. Our business hours are Monday - Friday, 9:00 AM - 5:00 PM EST.</p>
			</div>
		</div>
		
		
		
	  <hr />


<div class="row">
	
	<div class="span7">
		<h2>NCE Study Guide</h2>
		<p>Comprehensive and user friendly, this is the study guide that has been instrumental in helping hundreds of counselors pass the NCE. It will help you assess your weaknesses and strengthen what you know. Included are 2 exams, each with 200 questions and detailed answers that give insight into the style and format of the NCE's questions. Available in <strong>hard copy</strong> or <strong>eBook</strong> along with <strong>2 online exams</strong> - one Pre-Assessment Exam and one Practice Exam - it covers all eight (8) CACREP Content Areas. Also available for an additional cost are two additional 200 question online exams.</p>
		<h3>Covers all eight (8) CACREP Content Areas</h3>
		<div class="row">
			<div class="span3">
				<ul>
					<li>Professional Orientation</li>
					<li>Research and Program Evaluation</li>
					<li>Appraisal</li>
					<li>Lifestyle and Career Development</li>
				</ul>
			</div>
			<div class="span3">
				<ul>
					<li>Helping Relationships</li>
					<li>Group Counseling</li>
					<li>Human Growth and Development</li>
					<li>Social and Cultural Foundations</li>
				</ul>
			</div>
		</div>

	</div>
	
	<div class="span5">
		<h2>Dr. Arthur&#39;s expertise</h2>
		<p>
			<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin: .5em 1em .5em 0;" />
			Dr. Gary Arthur, Ed.D., LPC, NCC, Professor Emeritus of Professional Counseling at Georgia State University, is <strong>personally available to answer any questions you may have about the study guide or the exam</strong> (up to 30 minutes). He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and wrote this study guide for the specific purpose of preparing you for the NCE licensure exam.
		</p>
	</div>
	
</div>

<br />
<div class="page-header">
	<img src="/img/pass_icon.jpg" style="float: right;" />
	<h1>Satisfaction Guarantee + Money Back Pass Guarantee</h1>
</div>

<p class="lead">Pass the NCE or the cost of the guide is refunded back to you</p>

<p>The customer has 1 week upon delivery of the Study Guide to review the material to confirm that it is what he or she expected. If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide.</p>

<p id="policies-link"><a href="#">See policies for details...</a></p>

<div class="row" id="policies" style="display: none;">
	<div class="span6">
		<h3>Satisfaction Guarantee Policy Terms</h3>
		<p>The below policy is applicable to Dr. Arthur’s Study Guide for the National Counselor Examination:</p>
		<ul>
			<li>The customer has 1 week upon delivery of the Study Guide to review the material to confirm that it is what he or she expected.</li>
			<li>If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the Study Guide in good condition, CTC will send a refund check to the original purchaser for the original price of the Study Guide (excludes all shipping and any applicable sales tax).</li>
		</ul>
	</div>
	<div class="span6">
		<h3>Money Back Pass Guarantee Policy Terms</h3>
		<p>CTC offers a money back pass guarantee for the Dr. Arthur’s Study Guide. Pass the NCE, or CTC will refund your money for the cost of the Study Guide (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to return the Study Guide along with a copy of proof of failure to CTC.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the Study Guide, CTC will send a refund check to the original purchaser for the original price of the Study Guide (excludes all shipping charges and any applicable sales tax).</li>
		</ul>
	</div>
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Guide, please call 770-326-9229.</p>
	</div>
</div>


<br />
<div class="page-header">
	<h1>Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;The practice exams were instrumental in helping me prepare for taking the actual exam, and I passed it with confidence. I would recommend this to anyone who is preparing for the NCE.&rdquo;
			</p>
			<small>Maria Comsudes, MS, NCC</small>
		</blockquote>

		<blockquote>
			<p>
				&ldquo;Written well enough that I did not have to go back to my textbook to learn more about a term or person.&rdquo;
			</p>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;A theory, person, or term each is followed by an example of how an NCE question might be derived from that material. This was very helpful.&rdquo;
			</p>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;P.S. You can be sure that I'll recommend your Study Guide to everyone I know.&rdquo;
			</p>
		</blockquote>
	</div>

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;Hi Dr. Arthur! Just want to share with you that I passed the NCE and I believe your prep materials had everything to do with it. The Study Guide was a great re-cap of the Master's of Science classes.&rdquo;
			</p>
			<small>Maria Miller</small>
		</blockquote>

		<blockquote>
			<p>
				&ldquo;Dear Gary, I couldn't have done it without you! Thanks to you and your Study Guide, I passed the examination with room to spare. Thanks again for everything!&rdquo;
			</p>
			<small>Irma Ross</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;It is written in an encouraging way - the stories you hear about the NCE makes one wonder if you can pass it. Dr. Arthur provides information about the success rate of others.&rdquo;
			</p>
		</blockquote>
	</div>

</div>

<br />
<div class="well">
	<sup>1</sup> Based on number of refunds requested due to failed exams.
</div>	