<script src="https://js.stripe.com/v1/"></script>
<%= coffee 'marketing' %>

<div class="row product-banner">
	<div class="span4">
		<br class="hidden-phone" />
		<p><img src="/img/nce-large.png" /></p>
		<p>
					<form class="form-inline">
						<hr />
						<p><a class="btn btn-success btn-large pull-left" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 42%;">BUY NOW!</a>
						<a class="btn btn-success btn-large pull-right" href="#pricing" style="font-weight: bold; width: 30%;">Pricing</a></p>
						<p style="text-align: center; clear: both; padding-top: 12px;"><small>For shipping outside the continental US,<br />please order by phone at +1-888-326-9229.</small></p>
					</form>
				</p>
	</div>
	<div class="span8">
		<p><img src="/img/nce-group.jpg" /></p>
	</div>
	<div class="span12">
			<br />
			<p class="lead">We are very proud that 97% of our customers passed their exam in 2011!<sup>1</sup></p>
			<p class="lead" style="font-size: 1.5em; color: gray;">Since 1985, counselors have used Dr. Arthur's Study Program for the NCE to prepare for their state licensure exam.</p>
		</div>
</div>

<div class="modal fade" id="checkout" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Dr. Arthur&#39;s NCE Study Guide</h3>
	</div>
	<div class="modal-body" style="padding-bottom: 0;">
		<form class="form-horizontal" action="" method="POST" id="payment-form">
			<fieldset class="package">
				<legend style="margin-bottom: 1em;">Program Package Options - Select One</legend>
				<div class="row">
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="enhanced-package" value="enhanced-package" /> Enhanced Package <strong>$229</strong>
								<br />
								<em>Save $20!</em>
								<ul class="package-features">
									<li>Online Pre-Assessment Exam</li>
									<li>3 Online Practice Exams</li>
									<li>Study Guide eBook</li>
									<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
									<li>Pass Guarantee</li>
									<li>Receive unlimited access to online exams for one full year</li>
								</ul>
							</label>
						</p>
					</div>
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="basic-package" value="basic-package" /> Basic Package <strong>$189</strong>
								<ul class="package-features">
									<li>Online Pre-Assessment Exam</li>
									<li>1 Online Practice Exams</li>
									<li>Study Guide eBook</li>
									<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
									<li>Pass Guarantee</li>
									<li>Receive unlimited access to online exams for one full year</li>
								</ul>
								<p style="padding-left: 1em;"><small>(2 additional online practice exams<br />can be purchased later for $60.)</small></p>
							</label>
						</p>
					</div>
					<br />
				</div>
			</fieldset>
			<fieldset class="package">
				<legend style="margin-bottom: 1em;">Optional Enhancements</legend>
				<p style="padding-left: 1em;">
					<label class="checkbox">
						<input type="checkbox" name="optional" id="nce-hard-copy" /> Study Guide Hard Copy <strong>$12.95 shipping</strong>
						<br />
						<small>Same study guide as the eBook</small>
					</label>
				</p>
			</fieldset>
			<%= erb :'marketing/form', layout: false %>
		</form>

	</div>
	<div class="modal-footer">
		<div class="pagination" style="text-align: center; margin: 0;">
			<ul>
				<li class="active">
					<a href="#" id="package">1. Package</a>
				</li>
				<li><a href="#" id="account">2. Account</a></li>
				<li><a href="#" id="credit-card">3. Credit Card</a></li>
				<li><a href="#" id="confirmation">4. Confirmation & Checkout</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- ======================= Product Info ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

	<div class="page-header">
		<h1 style="font-size: 3em;">Dr. Arthur's NCE Study Program</h1>
	</div>
	<div class="row">
		<div class="span5">
			<img src="/img/nce-guide-sm.jpg" width="80%" class="hidden-phone" />
			<br class="hidden-phone"/>
			<p style="padding-right: 24px;">This is the comprehensive study guide that has been instrumental in helping thousands of counselors pass the National Counselor Examination (NCE) used for state licensure. It will help you assess your weaknesses and strengthen what you know. <strong>Dr. Arthur’s Study Guide</strong> is available in either a hard copy or eBook format, and covers all 8 CACREP content areas. The package also includes a Pre-Assessment Exam and one Practice Exam that are both online, each with 200 questions and detailed answers that give insight into the style and format of the NCE's questions. Our Enhanced Package includes two additional online exams (each 200 questions) which provides ample opportunity to gain confidence in your knowledge base.</p>
			<p class="hidden-phone"><a href="/downloads/Sample NCE Study Guide.pdf" class="btn btn-primary btn-mini" target="_blank">Sample PDF</a></p><br />
		</div>
	
		
		<div class="span7">	
			<div id="myCarousel" class="carousel slide">
	            <div class="carousel-inner">
	              <div class="item active">
	                <img src="img/nce-show/ss-profile.png" width="100%" alt="">
	                <div class="carousel-caption">
	                  <p>On your Profile page you get access to to your NCE exams, downloads, and account information.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="img/nce-show/ss-exams-list.png" width="100%" alt="">
	                <div class="carousel-caption">
	                  <p>You can view exams you have purchased and choose which one to take.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="img/nce-show/ss-exam1.png" width="100%" alt="">
	                <div class="carousel-caption">
	                  <p>The exams are 200 multiple choice questions divided into 10 pages of 20 questions each.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="img/nce-show/ss-exam-score.png" width="100%" alt="">
	                <div class="carousel-caption">
	                  <p>View your overall score plus see your breakdown in all 8 CACREP content areas.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="img/nce-show/ss-book.jpg" width="100%" alt="">
	                <div class="carousel-caption">
	                  <p>The eBook can be read on a variety of devices.</p>
	                </div>
	              </div>
	            </div>
	            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	          </div>
  			<br />
			<h3>E-book Option</h3>
			<p>The Study Guide is available in either a hard copy format or in an e-book compatible with standard e-readers, including the iPad or Kindle. Note that the hard copy does require a shipping and handling fee. Testimonials on the e-book are overwhelmingly positive.</p>
			<blockquote>
				<p>
					&ldquo;This is awesome! I don't need to carry around the binder version and I can easily access the e-book while I'm relaxing in bed doing night time reading. Thank you!&rdquo;
				</p>
				<small>J. Cho</small>
			</blockquote>
			<br />
 		</div>
	</div>  

	  <div class="row">	
		  <div class="span6 features"> 
				
				<img src="img/check.png" class="check" /><h2>Study Guide</h2>
				<p>The heart of the program is <strong>Dr. Arthur’s Study Guide for the NCE</strong>, which is a user-friendly publication designed to prepare you for the exam. The Study Guide is updated regularly by Dr. Arthur – often multiple times per year.</p>
				
				<img src="img/check.png" class="check" /><h2>Covers All 8 CACREP Areas</h2>	
				<p>The Study Guide is organized according to the 8 CACREP areas: Professional Orientation; Research and Program Evaluation; Appraisal; Lifestyle and Career Development; Helping Relationships; Group Counseling; Human Growth and Development; Social and Cultural Foundations. Example questions reflect those objectives. This is significant because the NCE is developed from CACREP programs.</p>
				
				
				<img src="img/check.png" class="check" /><h2>Online Exams</h2>
				<p>Up to four online exams available, each with 200 questions and detailed answers. One of the online exams is a pre-assessment exam, which helps you prioritize your studying based on your results in each of the 8 CACREP areas. Our Basic Package also includes one practice exam, or purchase the Enhanced Package to access a total of three practice exams.</p>
				
				
				
			</div>
			<div class="span6 features">
				
				<img src="img/check.png" class="check" /><h2>Learn at your own pace</h2>
				<p>The online exams may be taken multiple times for up to a full year, allowing you to study at the pace that is best for you.</p>

					
				<img src="img/check.png" class="check" /><h2>Consultation</h2>
				<p>As part of either purchased package, you can schedule a personal consultation with Dr. Gary Arthur for up to 30 minutes.</p>
				
				<img src="img/check.png" class="check" /><h2>Pass Guarantee</h2>
				<p>Pass the NCE or the purchase price will be refunded to you. See <a href="#guarantee">guarantee policies</a> for details.</p>
				<img src="img/check.png" class="check" /><h2>eBook Option</h2>
				<p>The Study Guide is available in either a hard copy or in an eBook format. Testimonials on the eBook are overwhelmingly positive.</p>
				
				<img src="img/check.png" class="check" /><h2>Success</h2>
				<p>Dr. Arthur's NCE Study Program boasts a 97% pass rate versus the national average of 72%. </p>
				

			</div>
		</div>
		
	<div id="pricing"> </div>
	
<!-- ======================= Pricing ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

		<div class="page-header">
			<h1>Pricing</h1>
		</div>
		
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span4"><br class="hidden-phone" />
						<div class="grid-ground">
							<center><h3>Basic Package</h3></center>
							<div class="price-ground">
							<h1>$189</h1>
							</div>
							<ul>
								<li>Study Guide eBook</li>
								<li>Pre-assessment Exam</li>
								<li>1 Practice Exam*</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online exams for one full year</li>
							</ul>
							
							<center><a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
					<p class="visible-phone">* Two aditional practice exams can be purchased later for $60</p>
					<br class="visible-phone" />
					<div class="span4 minus-offset">
						<center><span class="price-box">Save $20</span></center>
						<div class="grid-ground" style="margin-top: -12px;">
							<center><h3 style="margin-top: 15px;">Enhanced Package</h3></center>
							<div class="price-ground">
								<h1>$229</h1>
							</div>
							<ul>
								<li>Study Guide eBook</li>
								<li>Pre-assessment Exam</li>
								<li>3 Practice Exams</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online exams for one full year</li>
							</ul>
							<center><a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8 " >
						<div class="grid-ground hidden-phone" style="margin: -22px 56px 12px 32px; padding: 16px 0">
							<center><h4>Get the <span style="color: green;">Study Guide</span> in <span style="color: green;">Hard Copy</span> for <span style="color: green;">$12.95 shipping</span>.<br />It's the same as the eBook.</h4></center>
						</div>
						<div class="grid-ground visible-phone" style="padding: 16px 0">
							<center><h4>Get the <span style="color: green;">Study Guide</span> in <span style="color: green;">Hard Copy</span> for <span style="color: green;">$12.95 shipping</span>.<br />It's the same as the eBook.</h4></center>
						</div>
						
					</div>
				</div>
				<p class="hidden-phone">* Two aditional practice exams can be purchased later for $60</p>
			</div><br />
			<div class="span4">
				<center><img src="/img/nce-large.png" style="width: 75%;" class="hidden-phone" /></center>
				
				<hr class="hidden-phone" />
				<center><p>Buy with confidence</p></center>
				<center><img src="img/fakebadge.png" /></center>
				<hr />
				<center><h4>You may place your order by phone.</h4></center>
				<center><p>Call toll free at 888-326-9229. <br />Our business hours are <br />Monday - Friday, 9:00 AM - 5:00 PM EST.</p></center>
				
				
			</div>
		</div>
		
<!-- ======================= About Author ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

		<div class="page-header">
			<h1>Dr. Arthur&#39;s expertise</h1>
		</div>
	
		<div class="row">
			<div class="span12">
		
				<p>
				<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin: .5em 1em .5em 0;" />
				<br />Dr. Gary Arthur, Ed.D., LPC, NCC, Professor Emeritus of Professional Counseling at Georgia State University, is <strong>personally available to answer any questions you may have about the study guide or the exam</strong> (up to 30 minutes). He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and wrote this study guide for the specific purpose of preparing you for the NCE licensure exam.
				</p>
			</div>
		</div>
		
		<div id="guarantee"> </div>
	
<!-- ======================= Guarantee ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

		<div class="page-header">
			<img src="/img/pass-icon.png" width="93px" style="float: right; margin-top: -28px;" class="visible-phone" />
			<img src="/img/pass-icon.png" width="124px" style="float: right; margin-top: -20px;" class="hidden-phone" />
			<h1>Satisfaction Guarantee + Money Back Pass Guarantee</h1>
		</div>
			
			<p class="lead">Pass the NCE or the cost of the guide is refunded back to you</p>

			<p>The customer has 1 week upon delivery of the Study Guide to review the material to confirm that it is what he or she expected. If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide.</p>
			

		<div class="row">
			<div class="span6 guarantee">
				<h3>Satisfaction Guarantee Policy Terms</h3>
				<p>The below policy is applicable to Dr. Arthur’s Study Guide for the National Counselor Examination:</p>
				<ul>
					<li>
						The customer has <em>3 days</em> from the purchase date to review the purchased <em>online services</em>, including online exams and ebook, to confirm that it is what he or she expected. If unhappy with the online services for any reason, the customer is required to request a refund to CTC within these initial 3 days. Upon proper notification, CTC will turn off access to these online services, and a refund will be issued.
					</li>
					<li>
						If the customer has purchased a hard-copy of the Study Guide, he or she has <em>5 days upon delivery of the Study Guide</em> to review the material to confirm that it is what he or she expected. If unhappy with the content for any reason, the customer is required to notify CTC within these 5 days of the delivery date either by phone or e-mail that he/she is returning the Study Guide. Upon proper notification, CTC will turn off access to the online services, and once CTC receives the hard-copy Study Guide in good condition, CTC will process a refund to the original purchaser for the original price of the Study Guide (excludes all shipping and any applicable sales tax). Note: The return expense is the responsibility of the customer.
					</li>
				</ul>
			</div>
			<div class="span6 guarantee">
				<h3>Money Back Pass Guarantee Policy Terms</h3>
				<p>CTC offers a money back pass guarantee for the Dr. Arthur’s Study Guide. Pass the NCE, or CTC will refund your money for the cost of the Study Guide (excludes shipping and any sales tax).</p>
				<ul>
					<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
					<li>If the exam is failed, the customer has 90 days to return the Study Guide along with a copy of proof of failure to CTC.</li>
					<li>Note: The return expense is the responsibility of the customer.</li>
					<li>Once CTC receives the Study Guide, CTC will send a refund check to the original purchaser for the original price of the Study Guide (excludes all shipping charges and any applicable sales tax).</li>
				</ul>
			</div>
			<div class="span12">
				<p>For questions about the above policies, or any aspect of the Study Guide, please call toll free 888-326-9229.</p>
			</div>
		</div>

<!-- ======================= Testimonials ======================= -->

<div class="section-div hidden-phone">&bull; &bull; &bull;</div>

<div class="page-header">
	<h1>Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;The practice exams were instrumental in helping me prepare for taking the actual exam, and I passed it with confidence. I would recommend this to anyone who is preparing for the NCE.&rdquo;
			</p>
			<small>Maria Comsudes, MS, NCC</small>
		</blockquote>

		<blockquote>
			<p>
				&ldquo;Written well enough that I did not have to go back to my textbook to learn more about a term or person.&rdquo;
			</p>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;A theory, person, or term each is followed by an example of how an NCE question might be derived from that material. This was very helpful.&rdquo;
			</p>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;P.S. You can be sure that I'll recommend your Study Guide to everyone I know.&rdquo;
			</p>
		</blockquote>
	</div>

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;Hi Dr. Arthur! Just want to share with you that I passed the NCE and I believe your prep materials had everything to do with it. The Study Guide was a great re-cap of the Master's of Science classes.&rdquo;
			</p>
			<small>Maria Miller</small>
		</blockquote>

		<blockquote>
			<p>
				&ldquo;Dear Gary, I couldn't have done it without you! Thanks to you and your Study Guide, I passed the examination with room to spare. Thanks again for everything!&rdquo;
			</p>
			<small>Irma Ross</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;It is written in an encouraging way - the stories you hear about the NCE makes one wonder if you can pass it. Dr. Arthur provides information about the success rate of others.&rdquo;
			</p>
		</blockquote>
	</div>

</div>

<br />
<div class="well">
	<sup>1</sup> Based on number of refunds requested due to failed exams.
</div>	