<script src="https://js.stripe.com/v1/"></script>
<%= coffee 'marketing' %>

<div class="row product-banner">
	<div class="span4">
		<br />
		<p><img src="/img/ncmhce-large.png" /></p>
		<p>
			<form class="form-inline">
				<hr />
				<p style="text-align: center;">
					<a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 86%;">BUY NOW!</a>
				</p>
				<p style="text-align: center;"><small>For shipping outside the continental US,<br />please order by phone at +1-888-326-9229.</small></p>
			</form>
		</p>
	</div>
	<div class="span8">
		<p><img src="/img/ncmhceGroup.jpg" /></p>
	</div>
	<div class="span12">
		<p class="lead">We are very proud that 95% of our customers passed their exam in 2011!<sup>1</sup></p>
		<p class="lead" style="font-size: 1.5em; color: #666666">Since 2000, counselors have used the Arthur-Brende Study Program for the NCMHCE to prepare for their state licensure exam.</p>
	</div>
</div>

<div class="modal fade" id="checkout" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Arthur-Brende NCMHCE Study Program</h3>
	</div>
	<div class="modal-body" style="padding-bottom: 0;">
		<form class="form-horizontal" action="" method="POST" id="payment-form">
			<fieldset class="package">
				<legend style="margin-bottom: 1em;">Program Package Options - Select One</legend>
				<div class="row">
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="full-package" value="full-package" /> Full Package <strong>$190</strong>
								<br />
								<em>Save $50!</em>
								<ul class="package-features">
									<li>All 36 Online Scenarios</li>
									<li>Study Supplement eBook</li>
									<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
									<li>Pass Guarantee</li>
									<li>Receive unlimited access to online exams for one full year</li>
								</ul>
							</label>
						</p>
					</div>
					<div class="span3">
						<p style="padding-left: 1em;">
							<label class="radio">
								<input name="package" type="radio" id="starter-package" value="starter-package" /> Starter Package <strong>$80</strong>
								<ul class="package-features">
									<li>12 Online Scenarios</li>
									<li>Study Supplement eBook</li>
									<li>Consultation with Dr. Gary Arthur for up to 20 minutes</li>
									<li>Pass Guarantee</li>
									<li>Receive unlimited access to online exams for one full year</li>
								</ul>
								<p style="padding-left: 1em;"><small>(Additional online scenarios can be purchased later in sets of 12 for $80.)</small></p>
							</label>
						</p>					
					</div>
					<br />	
				</div>
			</fieldset>
			<fieldset class="package">
				<legend style="margin-bottom: 1em;">Optional Enhancements</legend>
				<p style="padding-left: 1em;">
					<label class="checkbox">
						<input type="checkbox" name="optional" id="ncmhce-hard-copy" /> Study Supplement Hard Copy <strong>$12.95 shipping</strong>
						<br />
						<small>Same study supplement as the eBook</small>
					</label>
				</p>
			</fieldset>
			<%= erb :'marketing/form', layout: false %>			
		</form>

	</div>
	<div class="modal-footer">
		<div class="pagination" style="text-align: center; margin: 0;">
			<ul>
				<li class="active">
					<a href="#" id="package">1. Package</a>
				</li>
				<li><a href="#" id="account">2. Account</a></li>
				<li><a href="#" id="credit-card">3. Credit Card</a></li>
				<li><a href="#" id="confirmation">4. Confirmation & Checkout</a></li>
			</ul>
		</div>
	</div>
</div>



		<div class="page-header">
			<h1 style="font-size: 3em;">The Arthur-Brende NCMHCE Study Program</h1>
		</div>
		<div class="row">
			<div class="span4">
				<img src="/img/ncmhce-scenario.jpg" style="width: 99%;" />
				<p>The Arthur-Brende Scenario Simulator includes 36 online scenarios that emulate the actual NCMHCE exam, measuring your information gathering and decision making abilities. Each includes one or more of the five axis as found in the DSM-IV-TR diagnostic manual. Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace. Try a sample scenario free.</p>
			<a href="#" class="btn btn-primary btn-large" style="width: 90%;">Sample Scenario</a>
			<br /><br />
			</div>
			<div class="span7 offset1">
				<div id="myCarousel" class="carousel slide">
		            <div class="carousel-inner">
		              <div class="item active">
		                <img src="img/ncmhce-show/ncmhceprofile.png" alt="">
		                <div class="carousel-caption">
		                  <h4>Profile page</h4>
		                  <p>Your Profile page is where you get access to to your Online Scenarios and download you eBook or PDF. You can change your password and view other information about your account. You can even find and purchase optional enhacncements.</p>
		                </div>
		              </div>
		              <div class="item">
		                <img src="img/ncmhce-show/ncmhcwmjw.png" alt="">
		                <div class="carousel-caption">
		                  <h4>Scenario Scoring</h4>
		                  <p>You can review your scenario when finished and get you score and other feedback or take the scenario again - as many times as you like.</p>
		                </div>
		              </div>
		              <div class="item">
		                <img src="img/ncmhce-show/scenarios.png" alt="">
		                <div class="carousel-caption">
		                  <h4>Choose a Scenario</h4>
		                  <p>When you purchase a package you may choose which scenarios to take. Keep track of which scenarios you have taken, how many you have left, and see your scores.</p>
		                </div>
		              </div>
		            </div>
		            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		          </div>
			</div>
		</div>
		<br />
		<div class="row">	
			<div class="span6 features">
				
				<img src="img/check.png" class="check" /><h2>Online Scenario Simulator</h2>
				<p>The Arthur-Brende Scenario Simulator includes 36 online scenarios that <strong>emulate the actual NCMHCE exam</strong>, measuring your information gathering and decision making abilities. You can purchase all 36 scenarios or in sets of 12.</p> 
				
				<img src="img/check.png" class="check" /><h2>Study Supplement</h2>
				<p>This overview of the actual NCMHCE and study/test taking strategies is included with your Scenario Simulator purchase and available as eBook or PDF for immediate download - also available in hardcopy. <a href="/downloads/Sample NCMHCE Supplement.pdf" class="btn btn-primary btn-mini">Sample PDF</a></p>
				
				<img src="img/check.png" class="check" /><h2>DSM-IV-TR Diagnostic</h2>	
				<p>Each scenario includes one or more of the five axis as found in the DSM-IV-TR diagnostic manual.</p>
				
				
			</div>
			<div class="span6 features">
				
				<img src="img/check.png" class="check" /><h2>Learn at your own pace</h2>
				<p>Scenarios may be taken multiple times for up to a full year allowing you to learn at your own pace.</p>

					
				<img src="img/check.png" class="check" /><h2>Consultation</h2>
				<p>You get consultation with Dr. Gary Arthur for up to 30 minutes.</p>
				
				<img src="img/check.png" class="check" /><h2>Pass Guarantee</h2>
				<p>Pass the NCMHCE or the purchase price will be refunded to you. See <a href="#guarantee">guarantee policies</a> for details.</p>
				
				<img src="img/check.png" class="check" /><h2>Feedback</h2>
				<p>You get feedback measuring your information gathering and decision making abilities.</p>
				
				
			</div>
				
		</div>	



		<div id="pricing"> </div>
		<br /><br />
		<div class="page-header">
			<h1>Pricing</h1>
		</div>
		
		<div class="row">
			<div class="span8">
				<div class="row">
					<div class="span4"><br />
						<div class="grid-ground">
							<center><h3>Starter Package</h3></center>
							<div class="price-ground">
							<h1>$80</h1>
							</div>
							<ul>
								<li><strong>12 Scenarios</strong>*</li>
								<li>Study Supplement eBook</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online scenarios for one full year</li>
							</ul>
							
							<center><a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
					<div class="span4 minus-offset">
						<center><span class="price-box">Save $50</span></center>
						<div class="grid-ground" style="margin-top: -12px;">
							<center><h3 style="margin-top: 15px;">Full Package</h3></center>
							<div class="price-ground">
								<h1>$190</h1>
							</div>
							<ul>
								<li><strong>All 36 Scenarios</strong></li>
								<li>Study Supplement eBook</li>
								<li>Consultation with Dr. Gary Arthur for up to 30 minutes</li>
								<li>Pass Guarantee</li>
								<li>Receive unlimited access to online scenarios for one full year</li>
							</ul>
							<center><a class="btn btn-success btn-large" data-toggle="modal" href="#checkout" style="font-weight: bold; width: 70%">BUY NOW!</a></center><br />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8 " >
						<div class="grid-ground" style="margin: -22px 56px 12px 32px; padding: 16px 0">
							<img src="img/ncmhce-binder-ms.png" width="60px" class="binder visible-phone"/>
							<center><h4>Get the <span style="color: green;">Study Supplement</span> in <span style="color: green;">Hard Copy</span> for <span style="color: green;">$12.95 shipping</span>.<br />It's the same as the eBook.</h4></center>
						</div>
					</div>
				</div>
				<p>* Additional scenarios can be purchased later in sets of 12 for $80</p>
			</div><br />
			<div class="span4">
				<center><img src="/img/ncmhce-large.png" style="width: 75%;" /></center>
				<hr />
				<center><h4>You may order by phone.</h4></center>
				<center><p>Call toll free at 888-326-9229. <br />Our business hours are <br />Monday - Friday, 9:00 AM - 5:00 PM EST.</p></center>
				<hr />
				<center><p>Buy with confidence</p></center>
				<center><img src="img/fakebadge.png" /></center>
				
				
			</div>
		</div>


<br /><br />
<div class="page-header">
	<h1>About the Authors</h1>
</div>

<div class="row">
	<div class="span6">
		<h3>Gary L. Arthur <small>Ed.D., LPC, NCC</small></h3>
		<p>
			<img src="/img/gary.gif" style="float: left; padding: 3px; border: 1px solid #efefef; margin-bottom: 3em; margin-right: 1.5em;" />
			Dr. Gary Arthur is Professor Emeritus of Professional Counseling at Georgia State University. He has taught counseling courses at the graduate level for 34+ years and he was named Counselor Educator of the Year 2007 by the Licensed Professional Counselor Association of Georgia. He has published numerous articles in referred journals, and he co-wrote this study guide for the specific purpose of preparing you for the NCMHCE licensure exam.
		</p>
	</div>
	<div class="span6">
		<h3>Joel Osler Brende <small>M.D.</small></h3>
		<p>Joel Osler Brende, M.D. is Professor & Chairman Emeritus, Dept of Psychiatry & Clinical Professor, Dept of Internal Medicine, Mercer University School of Medicine, Macon, GA. He is certified by The American Board of Psychiatry and Neurology and a Life Fellow of the American Psychiatric Association. He has extensive experience in medical and psychiatric education and has been actively involved in the teaching and supervision of psychotherapists, marriage and family therapy students, and resident physicians in psychiatry and internal medicine. Dr. Brende is a graduate of the University of Minnesota Medical School and received his psychiatric training at the Karl Menninger School of psychiatry.</p>
	</div>
</div>
<div id="guarantee"> </div>
<br /><br />
<div class="page-header">
	<img src="/img/pass_icon.jpg" style="float: right; width: 20%; margin-top: -14px;" class="visible-phone" />
	<img src="/img/pass_icon.jpg" style="float: right; width: 12%;" class="hidden-phone" />
	<h1>Satisfaction Guarantee + Money Back Pass Guarantee</h1>
</div>

<p class="lead">Pass the NCMHCE or the purchase price will be refunded (less shipping and taxes)</p>


<div class="row">
	<div class="span12">
		<p>The below policies are applicable to The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator.</p>
	</div>
	<div class="span6">
		<h3>Satisfaction Guarantee Return Policy Terms</h3>
		<ul>
			<li>The customer has 1 week upon delivery of the Study Supplement to review the material to confirm that it is what he or she expected. The customer cannot access more than three online scenarios to qualify for a refund.</li>
			<li>If unhappy with the content for any reason, the customer is required to notify CTC within 7 days of the delivery date either by phone or e-mail that he/she is returning the Study Supplement.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the Study Supplement in good condition, CTC will send a refund check to the original purchaser for the original price of the Study Supplement (excludes all shipping and any applicable sales tax).</li>
		</ul>
	</div>
	<div class="span6">
		<h3>Money Back Pass Guarantee Policy Terms</h3>
		<p>CTC offers a money back pass guarantee for The Arthur-Brende Study Supplement for the NCMHCE National Clinical Mental Health Counseling Examination Online Scenario Simulator. Pass the NCMHCE or CTC will refund your money (excludes shipping and any sales tax).</p>
		<ul>
			<li>The Study Guide must be purchased at least 30 days, and not more than one year, prior to the exam date.</li>
			<li>If the exam is failed, the customer has 90 days to return the Study Supplement along with a copy of proof of failure to CTC.</li>
			<li>Note: The return expense is the responsibility of the customer.</li>
			<li>Once CTC receives the Study Supplement, CTC will send a refund check to the original purchaser for the original price (excludes all shipping charges and any applicable sales tax).</li>
		</ul>
	</div>
	<div class="span12">
		<p>For questions about the above policies, or any aspect of the Study Supplement, please call 770-326- 9229.</p>
	</div>
</div>

<br /><br />
<div class="page-header">
	<h1>Testimonials</h1>
</div>

<div class="row">

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;I can't imagine taking the licensure exam without having used the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> materials to study. I highly recommend it to others preparing for the NCMHCE!&rdquo;
			</p>
			<small>Mindy Parsons</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I want to thank you for your great customer service and support. I passed! The scenarios were especially helpful, and I was very pleased with the package overall. A very good use of my money - it was worth it! I will recommend your program to my peers.&rdquo;
			</p>
			<small>Debbie M.</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I am a licensed professional and have taken lots of other exams. The NCMHCE is by far the most difficult exam I have taken. If it wasn’t for your material and excellent assistance, I would not have passed my NCMHCE exam and received my state license. Other study material sites are not as professional or helpful as yours.&rdquo;
			</p>
			<small>S. Winkelmann</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;The scenarios were very helpful as this was not the type I had in my course work. I had to change my way of thinking to take the examination. Dr. Arthur's Study Guides are excellent resources.&rdquo;
			</p>
			<br />
			<p>
				&ldquo;I am recommending the <strong>Arthur-Brende NCMHCE Scenario Simulator</strong> to everyone. It was like the actual exam, and very thorough.&rdquo;
			</p>
			<small>Debra Fitzgerald</small>
		</blockquote>

	</div>

	<div class="span6">
		<blockquote>
			<p>
				&ldquo;I just received word that I passed the NCMHCE! I previously took the test twice and failed twice. I had studied with another company's materials. I just did not understand what they were asking me to do. But by studying with your scenarios, I was able to see the pattern, understand the structure of the test and apply all the knowledge I had. Your examples and explanations of your scoring made it clear why some choices were not acceptable. Thanks for your wonderful web site and your personal service. It made all the difference and I went in feeling completely confident. I passed both sections with 30 more points than I actually needed!&rdquo;
			</p>
			<small>Jane Pitts</small>
		</blockquote>
		<blockquote>
			<p>
				&ldquo;I passed the NCMHCE yesterday and I couldn't have done it without Dr. Arthur's Study Guide and the practice simulations. The way the study guide tied everything together (diagnosis, treatment planning, counseling interventions, and psychological testing) was incredibly helpful and the simulations assisted me in learning how to take the test. Thanks for your help.&rdquo;
			</p>
			<small>Penny Minor</small>
		</blockquote>
		<blockquote>
			<p>&ldquo;Just wanted to let you all know that I took the NCMHCE today... and passed on my first attempt. Your full package of scenarios was VERY helpful in preparing for the exam. In fact, they were more difficult...which made the test seem relatively easy in comparison. Thanks again... and have a good holiday season.&rdquo;</p>
			<small>Dr. Joe Cusumano</small>	
		</blockquote>

	</div>
	
</div>
<br />
<div class="well">
	<sup>1</sup> Based on number of refunds requested due to failed exams.
</div>