<div class="hero-unit hidden-phone" id="welcome-banner">
	<p class="lead">Pass Your State Licensure Exam!</p>
	<h1>
		Dr. Arthur&#39;s Study Programs
		<br />
		for the NCMHCE and NCE
	</h1>
	
	<p><img src="/img/group-spread.jpg" /></p>
	
	<p>
		Dr. Arthur&#39;s Study programs remain the most trusted tools in the field,
		<br />
		designed to provide the most comprehensive material available! Guaranteed!
	</p>
</div>

<div class="visible-phone welcome-phone">
	<h1>Dr. Arthur&#39;s Study Programs for the NCMHCE and NCE</h1>
	<br />
	<p><img src="/img/nce-guide-sm.jpg" style="width: 100%;" /></p>
	<p>Dr. Arthur’s Study programs remain the most trusted tools in the field, designed to provide the most comprehensive material available! Guaranteed!</p>
	<hr />
	<p><a class="btn btn-success btn-large" href="/ncmhce"> &nbsp;&nbsp; <i class="icon-list-alt icon-white"></i> &nbsp; Arthur-Brende NCMHCE</a></p>
	<p><a class="btn btn-success btn-large" href="/nce"> &nbsp;&nbsp; <i class="icon-list-alt icon-white"></i> &nbsp; Dr. Arthur&#39;s NCE</a></p>
	<p><a class="btn btn-info btn-large" href="http://nbcc.org/directory" target="_blank"> &nbsp;&nbsp; <i class="icon-map-marker icon-white"></i> &nbsp; Find my state!</a></p>

</div>


<div class="row hidden-phone" id="welcome-buttons">
	
	<div class="span4">
		<div class="well">
			<p><a href="/ncmhce"><img src="/img/ncmhce.png" /></a></p>
			<p><a class="btn btn-success btn-large top-space" href="/ncmhce">Find out how!</a></p>
		</div>
	</div>
	
	<div class="span4">
		<div class="well">
			<p><a href="http://nbcc.org/directory" target="_blank"><img src="/img/ncbb-box.png" /></a></p>
			<p><a class="btn btn-info btn-large top-space" href="http://nbcc.org/directory" target="_blank"><i class="icon-map-marker icon-white"></i> &nbsp; Find my state!</a></p>
		</div>
	</div>
	
	<div class="span4">
		<div class="well">
			<p><a href="/nce"><img src="/img/nce.png" /></a></p>
			<p><a class="btn btn-success btn-large top-space" href="/nce">Find out how!</a></p>
		</div>
	</div>
	
</div>