<%= coffee 'marketing' %>


<div class="page-header">
	<h1>
		<%= @user.name %>
		<%= '<small>Admin</small>' if @user.admin? %>
	</h1>
</div>

<div class="row">
	
	<div class="span3">
		<form class="well form-horizontal" method="post">
			<p>
				<label for="email">Email address</label>
				<input type="text" style="width: 96%;" name="email" id="email" value="<%= @user.email %>" />
			</p>
			<p>
				<label for="phone">Phone number</label>
				<input type="text" style="width: 96%;" name="phone" id="phone" value="<%= @user.phone %>" />
			</p>
			<p>
				<label for="password">New password</label>
				<input type="password" style="width: 96%;" name="password" id="password" />
				<span class="help-inline">Leave blank unless you want a new password.</span>
			</p>
			<p>
				<button type="submit" class="btn">Update Account</button>
			</p>
			<hr />
			<p>
				<small>
					<% if @user.admin? %>
						No expiration date.
					<% else %>
						Account expires on <%= @user.expiration_date.display :american_day %>.
					<% end %>
				</small>
			</p>
		</form>
	</div>
	
	<div class="span9">

		<% if @user.max_exams > 0 %>
		
			<div class="page-header">
				<h3>
					NCE Exams
						<% if true == false %>
						<% unless @user.max_exams > 2 %>
							<span style="float: right;"><a class="btn btn-success" data-toggle="modal" href="#checkout-nce">Buy 2 more practice exams for $60</a></span>
						<% end %><% end %>
				</h3>
			</div>
			
			<p><a href="/nce/exams">Choose an exam</a> to get started.</p>
			
			<% unless @exams.empty? %>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Exam</th>
							<th>Score</th>
							<th>Taken On</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @exams.sort { |a,b| a.exam_id <=> b.exam_id }.each do |average| %>
							<tr>
								<td><%= average.exam_id %>. <%= average.exam.title %></td>
								<td>
									<% if avg = Average.last(user_id: session[:user], exam_id: average.exam_id) %>
										<%= avg.score %>%
									<% else %>
										N/A
									<% end %>
								</td>
								<td><%= average.created_at.display %></td>
								<td style="text-align: right;"><a href="/nce/exams/<%= average.exam_id %>">Review</a></td>
							</tr>
						<% end %>
					</tbody>			
				</table>
			<% end %>
		
			<br />
		<% end %>
		
		<% if @user.max_scenarios > 0 %>
		
			<div class="page-header">
				<h3>
					NCMHCE Scenarios
					<small><%= @user.remaining_scenarios %> Remaining</small>
					<% if true == false %>
					<% if @user.max_scenarios < 36 %>
						<span style="float: right;"><a class="btn btn-success" data-toggle="modal" href="#checkout-ncmhce">Buy 12 more scenarios for $80</a></span>
					<% end %><% end %>
				</h3>
			</div>
			
			<p><a href="/ncmhce/scenarios">Choose a scenario</a> to get started.</p>
			
			<% unless @scenarios.empty? %>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Scenario</th>
							<th>Score</th>
							<th>Taken On</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @scenarios.sort { |a,b| a.scenario_id <=> b.scenario_id }.each do |average| %>
							<tr>
								<td><%= average.scenario_id %>. <%= average.scenario.title %></td>
								<td>
									<% if avg = Average.last(user_id: session[:user], scenario_id: average.scenario_id) %>
										<%= avg.score %>%
									<% else %>
										N/A
									<% end %>
								</td>
								<td><%= average.created_at.display %></td>
								<td style="text-align: right;"><a href="/ncmhce/scenarios/<%= average.scenario_id %>">Review</a></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
		
			<br />
		<% end %>
		
		<% if @user.nce_downloads || @user.ncmhce_downloads %>
			<div class="page-header">
				<h3>Downloads</h3>
			</div>
			
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Book</th>
						<th class="hidden-phone">Format</th>
						<th>Last Update</th>
						<th class="hidden-phone"></th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<% if @user.nce_downloads %>
						<tr>
							<td>NCE Study Guide.epub</td>
							<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">906KB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCE Study Guide.epub">Download</a></td>
						</tr>
						<tr>
							<td>NCE Study Guide.mobi</td>
							<td class="hidden-phone"><a href="#" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
							</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">3.1MB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCE Study Guide.mobi">Download</a></td>
						</tr>
						<tr>
							<td>NCE Study Guide.pdf</td>
							<td class="hidden-phone">Any device with a PDF Reader</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">4.7MB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCE Study Guide.pdf">Download</a></td>
						</tr>
					<% end %>
					<% if @user.ncmhce_downloads %>
						<tr>
							<td>NCMHCE Study Supplement.epub</td>
							<td class="hidden-phone">iPhone/iPad, Android, eReaders</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">500KB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCMHCE Study Supplement.epub">Download</a></td>
						</tr>
						<tr>
							<td>NCMHCE Study Supplement.mobi</td>
							<td class="hidden-phone">
								<a href="#" class="top" rel="popover" title="Location of eBook on Kindle" data-content="Even if copied into the Books folder, this eBook might only be accessable from the Docs folder.">Kindle</a>
							</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">1.7MB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCMHCE Study Supplement.mobi">Download</a></td>
						</tr>
						<tr>
							<td>NCMHCE Study Supplement.pdf</td>
							<td class="hidden-phone">Any device with a PDF Reader</td>
							<td><span class="badge badge-success">7/23/2012</span></td>
							<td class="hidden-phone">2.3MB</td>
							<td style="text-align: right;"><a href="http://tayloraid.com/ce/NCMHCE Study Supplement.pdf">Download</a></td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<br />
		<% end %> 
				
		<% if @user.purchases.count > 0 %>

			<div class="page-header">
				<h3>Purchases</h3>
			</div>
			
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>Amount</th>
						<th>Item</th>
					</tr>
				</thead>
				<tbody>
					<% @user.purchases.each do |purchase| %>
						<tr>
							<td><%= purchase.created_at.display :american_day %></td>
							<td>	<%= purchase.amount.dollarize %></td>
							<td>
								<%= purchase.package %>
								<% if purchase.options %>
									 /
									<small><%= purchase.options %></small>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		
		<% end %>
		
	</div>
	
</div>




<% if true == false %>
<% unless @user.max_exams > 2 %>
	<div class="modal fade" id="checkout-nce" style="display: none;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Dr. Arthur&#39;s NCE Study Guide</h3>
		</div>
		<div class="modal-body" style="padding-bottom: 0;">
			<form class="form-horizontal" action="" method="POST" id="payment-form">
				<fieldset class="package">
					<legend>Program Package</legend>
					<br />				
					<p style="padding-left: 1em;">
						<label class="radio">
							<input name="package" type="radio" id="additional-exams-package" value="additional-exams-package" checked="checked" /> Additional Exams Package <strong>$60</strong>
							<br />
							<small>2 More Online Practice Exams</small>
						</label>
					</p>
				</fieldset>
				<%= erb :'marketing/form', layout: false %>
			</form>
	
		</div>
		<div class="modal-footer">
			<div class="pagination" style="text-align: center; margin: 0;">
				<ul>
					<li class="active">
						<a href="#" id="package">1. Package</a>
					</li>
					<li><a href="#" id="account">2. Account</a></li>
					<li><a href="#" id="credit-card">3. Credit Card</a></li>
					<li><a href="#" id="confirmation">4. Confirmation & Checkout</a></li>
				</ul>
			</div>
		</div>
	</div>
<% end %>





<% if @user.max_scenarios < 36 %>

	<div class="modal fade" id="checkout-ncmhce" style="display: none;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Arthur-Brende NCMHCE Study Program</h3>
		</div>
		<div class="modal-body" style="padding-bottom: 0;">
			<form class="form-horizontal" action="" method="POST" id="payment-form">
				<fieldset class="package">
					<legend>Program Package</legend>
					<br />				
					<p style="padding-left: 1em;">
						<label class="radio">
							<input name="package" type="radio" id="additional-scenarios-package" value="additional-scenarios-package" checked="checked" /> Additional Scenarios Package <strong>$80</strong>
							<br />
							<small>12 More Scenarios</small>
						</label>
					</p>
				</fieldset>
				<%= erb :'marketing/form', layout: false %>
			</form>
	
		</div>
		<div class="modal-footer">
			<div class="pagination" style="text-align: center; margin: 0;">
				<ul>
					<li class="active">
						<a href="#" id="package">1. Package</a>
					</li>
					<li><a href="#" id="account">2. Account</a></li>
					<li><a href="#" id="credit-card">3. Credit Card</a></li>
					<li><a href="#" id="confirmation">4. Confirmation & Checkout</a></li>
				</ul>
			</div>
		</div>
	</div>

<% end %>
<% end %>