<%= erb :'how-it-works/nav', layout: false %>

<br />

<h2>eBook Formats</h2>

<div class="span7">

	<p>The eBooks are formatted as EPUB, MOBI, and PDF. EPUB works on iPhone/iPad, Android, and eReaders. MOBI works on Kindle and Nook. PDF works on any device with a PDF reader.</p>

	<p>There are different methods for getting ebooks onto devices. Please refer to your manual for the best method for your device. We will attempt to support as many as we can.</p>

</div>