<%= erb :'how-it-works/nav', layout: false %>

<br />

<h2>Frequently asked questions</h2>

<div class="span7">


<h5>How often is the Study Supplement updated?</h5>

<p>The Study Supplement is constantly monitored for updating based on curriculum changes, changes to the NCMHCE, and feedback from students. When new material becomes known, it is added to the Study Supplement. Frequently this is done once or twice a year.</p>



<h5>How soon will the Study Supplement hard copy arrive after I purchase it?</h5>

<p>For those who purchase the NCMHCE using a credit card, we ship the next business day after the card is successfully processed. CTC also accepts payment by check or money order, though this can delay the shipping process. All shipments are by FedEx Ground service. Your Study Supplement will be shipped from the Atlanta, Georgia area. Expedited shipping is available for an additional charge.</p>



<h5>Am I able to use the scenarios multiple times?</h5>

<p>Absolutely! Once you purchase access to the online Scenario Simulator, you are free to take each scenario as many times as you like during your one year timeframe.</p>



<h5>Can I purchase just the manual or just the online scenarios?</h5>

<p>We do not sell the NCMHCE Study Supplement without the online scenarios. The online scenarios are meant to be used together with the Study Supplement. Dr. Arthur feels both are needed to properly prepare for the licensure exam.</p>



<h5>What is considered a passing score on the scenarios?</h5>

<p>The Arthur-Brende Scenario Simulator is set up to emulate the nbcc exam; however, we are not directly affiliated with the National Board for Certified Counselors, Inc. (NBCC) who administers the NCMHCE. Therefore, we do not know the actual pass/fail criteria used for the NCMHCE. The NBCC's information about NCMHCE scoring can be found at nbcc.org.</p>

<p>The Scenario Simulator emulates the actual NCMHCE scenarios using an Exam Format that measures separately your "information gathering" and "decision making" abilities. Anecdotal feedback from many customers shows that the Arthur-Brende Scenarios are more difficult than the actual scenarios of the NCMHCE, so that if you do well on our scenarios, you should do well on the exam. Our guidance is to not be too concerned with your Arthur-Brende Scenario scores themselves. Instead, we recommend that you use the practice scenarios to become comfortable with the exam format and to understand the types of DSM-IV related questions that are typical of the NCMHCE. If your scores are at or above the "Average Overall" scores of other users, then that is more meaningful than the actual score itself.</p>

<p>We do not know every customer's pass/fail history, but we do know that based on the percentage of customers who request their money back based on our Pass Guarantee, our customer's pass rate is 95%. Many customers call or write to us of their success. We'd love to hear your feedback as well!</p>



<h5>I am unclear as to which of my answers were correct or incorrect?</h5>

<p>Once you complete a scenario, you can get your scores by clicking on the "get your scores" link at the bottom of the page. This will take you to the answer page. At the top of the answer page, you will get your score as a percentage. You also will see your Information Gathering Score, Decision Making Score, Overall Score, and Average Overall Score. The Average Overall Score is the score of all the other users to date and thus is a good gauge for your success in completing each scenario.</p>

<p>Further down the page, each question is listed with all available options shown. Each option shows a point value in parentheses in front of the question option and it is also shown in green, red, blue, or black. The color coding is as follows:</p>

<p>If you chose the question and it was an appropriate question to ask for that situation, the answer appears in <span class="badge badge-success">green</span>.</p>

<p>If you chose the question and it was an inappropriate question to ask for that situation, the answer appears in <span class="badge badge-important">red</span>.</p>

<p>If you chose the question but the question held no point value (neither appropriate nor inappropriate), the answer appears in <span class="badge badge-info">blue</span>.</p>

<p>If you did not choose the question, the answer appears in black.</p>



<h5>What do I do to get my money back for not passing?</h5>

<p>To receive your pass guarantee refund, forward the Study Supplement along with a copy of your exam results within 90 days of receiving your score to our office: Career Training Concepts, Inc., ATTN: Deb Storm, 3640 Hewatt Court, Snellville, GA 30039. Once we receive your package, we will refund the cost of the study materials to you. Please make sure to include your mailing address where you would like your check mailed.</p>

</div>

