<%= erb :'how-it-works/nav', layout: false %>

<br />

<h2>NCMHCE Study Tips</h2>

<h4>What is the best way to study for my exam?</h4>

<p>We're always looking for useful study tips to help all of our users. If you have any to pass on to other users please send through the comments page. Every one would appriciate the help.</p>