<%= erb :'how-it-works/nav', layout: false %>


<h2>Using PDF</h2>

<div class="row">
	<div class="span6">

		<p>PDF works on any device with a PDF reader. Keep in mind that the PDF eBooks we use are letter sized pages and will be difficult for small screens like phones.</p>

	</div>
</div>