<%= erb :'how-it-works/nav', layout: false %>


<h2>NCMHCE Study Tips</h2>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span7">
				<h4>Scoring</h4>
				<p>After you have completed a scenario, you can compare your score with the average score of the site's other users. You can also see if you need to concentrate on Information Gathering or Decision Making, based on those sub-scores.</p>
				<p>Our scenarios do not actually provide a "Pass" or "Fail" indicator. While the Arthur-Brende Scenario Simulator is set up emulate the NCMHCE scenarios, we are not directly affiliated with the NBCC who administers the NCMHCE. Therefore, <b>we do not know the actual pass/fail criteria used for the NCMHCE</b>. To our knowledge, the NBCC does not publicize this information. The "pass" point for each scenario of the NCMHCE is set by the NBCC's examination committee, and so the exact "pass" point may vary from one exam to another, depending on the scenarios included on the exam you attempt.</p>
				<p>The NBCC's information about NCMHCE scoring can be found here: <a href="http://www.nbcc.org/NCMHCE/Scoring">www.nbcc.org/NCMHCE/Scoring</a></p>
				<p>Anecdotal feedback from many customers shows that the Arthur-Brende Scenarios are more difficult than the actual scenarios of the NCMHCE, so that if you do comparatively well on our scenarios, you should do well on the exam. Our guidance is to not be too concerned with your Arthur-Brende Scenario scores themselves. Instead, we recommend that you use the practice scenarios to become comfortable with the exam format and to understand the types of DSM-5 related questions that are typical of the NCMHCE.</p>
				<p>If you are scoring just a little below the "Average Overall Score" indicated for each scenario, that does not necessarily mean you won't pass the NCMHCE. Dr. Arthur's advice is to continue taking the scenarios - note you can take them over again as many times as you like. Also note that the scenarios grow progressively more complex according to the higher the scenario's number in the list.</p>
			</div>
			<div class="span5">
				<h4>Best ways to study for my exam</h4>
				<p>We're always looking for useful study tips to help all of our users. If you have any to pass on to other users please send through the <a href="/feedback">comments page</a>.</p> 
				<p>Everyone in the community would appreciate your help.</p>	
			</div>
		</div>
	</div>
</div>