<%= erb :'how-it-works/nav', layout: false %>


<h2>NCMHCE Study Tips</h2>

<div class="row">
	<div class="span6">
		<h4>Feedback</h4>
		<p>Remember that you can take the scenarios multiple times.</p>
		<p>After you have completed a scenario you can compare your score with the average score of other users. You can see if you need to concentrate on information gathering or decision making.</p>
	</div>
	<div clas="span6">
		<h4>Best ways to study for my exam</h4>
		<p>We're always looking for useful study tips to help all of our users. If you have any to pass on to other users please send through the <a href="/feedback">comments page</a>.</p> 
		<p>Everyone in the community would appriciate your help.</p>	</div>
</div>