<%= erb :'how-it-works/nav', layout: false %>

<h2>NCE Study Guide</h2>

<div class="row">
<div class="span6">

<p>Be sure this is the preparation guide for the examination for which you have made application. Several mental health disciplines require an examination other than the National Counselor Examination (NCE). Other mental health disciplines include psychologists, family counselors, social workers, and many with specific titles such as Licensed Clinical Professional Counselors (LCPC). The NCE is not for all of these disciplines. The National Board administers the NCE for certifying counselors (NBCC). Frequently the NCE is the same examination many states use for their state license. These licensed counselors are frequently called Licensed Professional Counselors (LPC) however some states may use a different title. Be sure you check with your license board for your state. The nbcc has your state board's information at <a href="http://nbcc.org/directory">nbcc.org</a>.</p>

</div>
</div>