<%= erb :'how-it-works/nav', layout: false %>

<h2>NCE Study Guide</h2>

<div class="row">
<div class="span7">

<p>Dr. Arthur's NCE Study Guide contains eight chapters that correspond to the eight 8 areas the NCE test covers: Professional Orientation & Ethical Practice, Social &amp; Cultural Diversity, Human Growth &amp; Development, Career Development, Helping Relationships, Group Work, Assessment, and Research &amp; Program Evaluation. There are over 300 questions throughout these chapters with the correct answers being explained in detail.</p>

<p>Please note that the NCE Study Guide is available in both a hard copy (3 ring binder) version or as an eBook. If you purchase the hard copy version, you are free to download the eBook version as well. Please find the links for downloading the eBook at the bottom of your profile page (after you first log-in).</p>

<!-- <p>The nbcc has your state board's information at <a href="http://nbcc.org/directory">nbcc.org</a>.</p> -->

</div>
</div>