<div class="row">
	<div class="span3 affix">
		<div class="well" style="margin: 0 0 1em 0; padding: 0; background: #ffffff;">
			
				<%= erb :'manuals/nav', layout: false %>
				
			</div>
		</div>
	</div>
	<div class="span9 offset3">
	
		<h3 class="oswald" style="color: #1c89de; margin: 0.9em 0 0.5em 0;">Study Program Guide prepared for <%= @user.name %></h3>
		<h1 style="font-size: 2.5em;"><%= @manual.name %></h1>
		<hr />
		
</div>
	
