<%= coffee 'scenario' %>

<ul class="breadcrumb">
	<li>NCMHCE <span class="divider">/</span></li>
	<li><a href="/ncmhce/scenarios">Scenarios</a> <span class="divider">/</span></li>
	<li class="active"><%= @scenario.title %></li>
</ul>


<div class="page-header">
	<h1><%= @scenario.id %>. <%= @scenario.title %></h1>
</div>

<% if @average %>
	<div class="well">
		<h3>
			Your Score: <%= @average %>%
			<small>Average Score: <%= @scenario.group_average %>%</small>
		</h3>
		<br />
		<div class="row">
			<div class="span5">
				Information Gathering:
				<%= @breakdown['Information Gathering'][:correct] %>/<%= @breakdown['Information Gathering'][:possible] %>
				points
			</div>
			<div class="span5">
				Decision Making:
				<%= @breakdown['Decision Making'][:correct] %>/<%= @breakdown['Decision Making'][:possible] %>
				points
			</div>
		</div>
		<br />
		<a href="/ncmhce/scenarios/<%= params[:id] %>/restart" class="btn restart">Start Over</a>
		<br /><br />
		<strong>
			<span style="color: silver; font-size: 90%;">COLOR CODE:</span>
			<span style="color: green; background-color: #e1ffe0;">Correct</span>,
			<span style="color: red; background-color: #fedee0;">Incorrect</span>
			<span style="color: blue; background-color: #e6dffe;">No Value</span>
		</strong>
	</div>
	
	<hr />
<% end %>

<%= @scenario.body.markdown %>

	<hr />
	
<% @questions.each do |question| %>
	<div class="question" id="question-<%= question.position %>" <%= 'style="display: none;"' if question.position > 1 %>>
		<p><strong><%= question.position %>. <%= question.body %></strong></p>
		
		<% answers = @answers.find_all {|a| a.question_id == question.id } %>

		<form>
			<% answers.each do |answer| %>
				<%
					if answer.value > 0
						style = 'correct'
					elsif answer.value < 0
						style = 'incorrect'
					elsif answer.value == 0
						style = 'neutral'
					else
						style = ''
					end
				%>
				
				<label class="checkbox <%= style if @average && @scores.include?(answer.id) %>">
					<input type="checkbox" class="<%= 'required' if answer.required? %>" id="<%= answer.id %>" name="<%= answer.id %>" <%= 'checked' if @scores.include?(answer.id) %> <%= 'disabled' if @average || @scores.include?(answer.id) %>>
					<%= answer.body.sub /\w[.]/, '' %>
					<%= "<strong>(#{answer.value} points)</strong>" if @average %>
				</label>
				<blockquote style="<%= hidden unless @average || @scores.include?(answer.id) %>" class="<%= style if (@average && @scores.include?(answer.id)) || answer.required? %>" id="response-<%= answer.id %>">
					<p><%= answer.response %></p>
				</blockquote>
			<% end %>
		</form>
		
		<%= question.notes.markdown if @average && question.notes %>
		
	</div>

<% end %>

<div class="pagination pagination-centered">
	<p><small>Questions:</small></p>
	<ul>
		<li class="active"><a class="question-link" href="#question1">1</a></li>
		<% @questions.each do |question| %>
			<% if question.position > 1 %>
				<li class="disabled"><a class="question-link" href="#question<%= question.position %>"><%= question.position %></a></li>
			<% end %>
		<% end %>
		<% unless @average %>
			<li class="disabled"><a href="/ncmhce/scenarios/<%= @scenario.id %>/score" id="score-link">Show Score</a></li>
		<% end %>
	</ul>
</div>
